---
- hosts: all
  name: Playbook for DLRN-rpmbuild-fedora job
  tasks:
    - include_tasks: setup_dlrn.yaml

    - name: write fedora.cfg
      shell:
        cmd: |
          cat << EOF > scripts/fedora.cfg
          config_opts['root'] = 'dlrn-fedora-x86_64'
          config_opts['target_arch'] = 'x86_64'
          config_opts['legal_host_arches'] = ('x86_64',)
          config_opts['chroot_setup_cmd'] = \
          'install basesystem rpm-build python2-devel gcc make \
          python-sqlalchemy python-webob ghostscript graphviz python-sphinx python-eventlet python-six python-pbr \
          python3-pbr git coreutils glibc-langpack-en python3-setuptools_scm python2-setuptools_scm'
          config_opts['dist'] = 'f28'  # only useful for --resultdir variable subst
          config_opts['extra_chroot_dirs'] = [ '/run/lock', ]
          config_opts['releasever'] = '28'
          config_opts['plugin_conf']['tmpfs_enable'] = True
          config_opts['plugin_conf']['tmpfs_opts'] = {}
          config_opts['plugin_conf']['tmpfs_opts']['required_ram_mb'] = 4096
          config_opts['plugin_conf']['tmpfs_opts']['max_fs_size'] = '4g'
          config_opts['plugin_conf']['tmpfs_opts']['mode'] = '0755'
          config_opts['plugin_conf']['tmpfs_opts']['keep_mounted'] = True
          config_opts['package_manager'] = 'dnf'
          config_opts['priorities.conf'] = """
          [main]
          enabled = 1
          check_obsoletes = 1
          """
          config_opts['yum.conf'] = """
          [main]
          keepcache=1
          debuglevel=2
          reposdir=/dev/null
          logfile=/var/log/yum.log
          retries=20
          obsoletes=1
          gpgcheck=0
          assumeyes=1
          plugins=1
          syslog_ident=mock
          syslog_device=
          # repos
          """
          EOF
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"

    - name: run_tests.sh
      shell:
        cmd: |
          export TAG="{{  tag | default('') }}"
          if [ -z "$TAG" ];then
              ARGS="fedora https://trunk.rdoproject.org/fedora/"
          else
              ARGS="fedora https://trunk.rdoproject.org/fedora/ $TAG"
          fi
          if [[ "{{ zuul.pipeline }}" =~ "openstack-" ]]; then
              ARGS=""
          fi
          ./scripts/run_tests.sh {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdoinfo'].src_dir }} $ARGS
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"
      environment:
        ZUUL_PROJECT: "{{ zuul.project.name }}"
        ZUUL_BRANCH: "{{ zuul.branch }}"
        ZUUL_PIPELINE: "{{ zuul.pipeline }}"
        ZUUL_CHANGES: "{% set comma = joiner('^') %} {% for chg in zuul['items'] %}{{ comma() }}{{chg.project.name}}:{{chg.branch}}:{{chg.change_url}}{% endfor %}"
        LANG: 'en_US.UTF-8'
