---
- hosts: all
  tasks:
    - name: Load rdoinfo data
      include_role:
        name: rdoinfo-data
        tasks_from: load-releases-status

    - include_tasks: setup_dlrn.yaml

    - name: Ensure mirrors are setup properly
      changed_when: true
      shell:
        cmd: |
            BASE="http://{{ mirror_fqdn | default('mirror.centos.org') }}/centos"
            sed -e "s|^#baseurl=http://mirror.centos.org/centos|baseurl=$BASE|;/^mirrorlist=/d" -i scripts/centos*.cfg # noqa 303
            sed -e "s|^#baseurl=http://mirror.centos.org/\$contentdir|baseurl=$BASE|" -i scripts/centos*.cfg # noqa 303
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"

    - name: Set up mock configuration
      shell:
        cmd: |
          cat << EOF | tee /etc/mock/site-defaults.cfg
          config_opts['use_bootstrap'] = False
          config_opts['dnf_warning'] = False
          EOF
      become: true
      changed_when: true

    - name: run_tests.sh
      changed_when: true
      shell:
        cmd: |
          export PINNED="{{ pinned | default(false) }}"
          export TAG="{{  tag | default('') }}"
          export CENTOS_VERS="{{  centos_version | default('centos7') }}"
          export REPO_SERVER="https://trunk.rdoproject.org"
          export TARGET="centos"
          if [ ${CENTOS_VERS} = "centos8" ]; then
             export PYTHON_VERSION="py36"
             export TARGET="centos8"
          fi
          #
          if [[ "{{ zuul.pipeline }}" =~ "openstack-" ]]; then
              ARGS=""
          elif [ "$PINNED" = true ]; then
              ARGS="$TARGET ${REPO_SERVER}/${CENTOS_VERS}/ {{ development_release[0] }}-uc"
          elif [ ! -z "$TAG" ]; then
              ARGS="$TARGET ${REPO_SERVER}/${CENTOS_VERS}/ $TAG"
          else
              ARGS="$TARGET ${REPO_SERVER}/${CENTOS_VERS}/"
          fi
          ./scripts/run_tests.sh {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdoinfo'].src_dir }} $ARGS
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"
      environment:
        ZUUL_PROJECT: "{{ zuul.project.name }}"
        ZUUL_BRANCH: "{{ zuul.branch }}"
        ZUUL_PIPELINE: "{{ zuul.pipeline }}"
        ZUUL_CHANGES: "{% set comma = joiner('^') %} {% for chg in zuul['items'] %}{{ comma() }}{{ chg.project.name }}:{{ chg.branch }}:{{ chg.change_url }}{% endfor %}"  # noqa 204
        LANG: 'en_US.UTF-8'
