---
- hosts: all
  tasks:
    - include_tasks: setup_dlrn.yaml

    - name: Ensure mirrors are setup properly
      changed_when: true
      shell:
        cmd: |
            BASE="http://{{ mirror_fqdn | default('mirror.centos.org') }}/centos"
            sed -e "s|^#baseurl=http://mirror.centos.org/centos|baseurl=$BASE|;/^mirrorlist=/d" -i scripts/centos*.cfg # noqa 303
            sed -e "s|^#baseurl=http://mirror.centos.org/\$contentdir|baseurl=$BASE|" -i scripts/centos*.cfg # noqa 303
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"

    - import_role:
        name: ensure-tox
      vars:
        ensure_global_symlinks: true

    - name: Set up mock configuration
      shell:
        cmd: |
          cat << EOF | tee /etc/mock/site-defaults.cfg
          config_opts['use_bootstrap'] = False
          config_opts['dnf_warning'] = False
          EOF
      become: true
      changed_when: true

    - name: run_tests.sh
      changed_when: true
      shell:
        cmd: |
          export REQUESTS_CA_BUNDLE=/etc/pki/ca-trust/extracted/openssl/ca-bundle.trust.crt
          export TAG="{{  tag | default('') }}"
          export CENTOS_VERS="{{  centos_version | default('centos7') }}"
          export REPO_SERVER="https://trunk.rdoproject.org"
          export TARGET="centos"
          if [ ${CENTOS_VERS} = "centos8" ]; then
             export PYTHON_VERSION="py36"
             export TARGET="centos8-stream"
          elif [ ${CENTOS_VERS} = "centos9" ]; then
             export PYTHON_VERSION="py36"
             export TARGET="centos9-stream"
          fi
          #
          if [ -z "$TAG" ];then
          ARGS="$TARGET ${REPO_SERVER}/${CENTOS_VERS}/"
          else
          ARGS="$TARGET ${REPO_SERVER}/${CENTOS_VERS}/ $TAG"
          fi
          if [[ "{{ zuul.pipeline }}" =~ "openstack-" ]]; then
              ARGS=""
          fi
          ./scripts/run_tests.sh {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdoinfo'].src_dir }} $ARGS
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"
      environment:
        ZUUL_PROJECT: "{{ zuul.project.name }}"
        ZUUL_BRANCH: "{{ zuul.branch }}"
        ZUUL_PIPELINE: "{{ zuul.pipeline }}"
        ZUUL_CHANGES: "{% set comma = joiner('^') %} {% for chg in zuul['items'] %}{{ comma() }}{{ chg.project.name }}:{{ chg.branch }}:{{ chg.change_url }}{% endfor %}"  # noqa 204
        LANG: 'en_US.UTF-8'

    - name: Compare dependencies with latest trunk
      changed_when: true
      shell:
        cmd: |
          DESTINATION="$PWD/rpms"
          MOCK_CMD="mock -r data/dlrn-1.cfg "
          mkdir -p $DESTINATION
          cp data/repos/current/*rpm $DESTINATION
          rm $DESTINATION/*src.rpm
          for i in $DESTINATION/*rpm; do
              INSTALL="${INSTALL} --install $i"
              NVR=$(echo $(basename $i)|sed 's/.rpm$//')
              PKG_NAME=$(echo $NVR|rev|cut -d- -f3-|rev)
              INSTALL_TRUNK="$INSTALL_TRUNK --install $PKG_NAME"
              PKGS="$PKGS $PKG_NAME"
          done
          echo -e "INFO: installing subpackages with the patched distgit"
          $MOCK_CMD --init
          $MOCK_CMD $INSTALL
          $MOCK_CMD -q --shell "rpm -qa" > patched_deps.list
          echo -e "INFO: installing subpackages from latest RDO Trunk repo"
          $MOCK_CMD --init
          $MOCK_CMD $INSTALL_TRUNK
          $MOCK_CMD -q --shell "rpm -qa" > trunk_deps.list
          for pkg in $PKGS; do
            sed -i "/^${pkg}-/d" patched_deps.list
            sed -i "/^${pkg}-/d" trunk_deps.list
          done
          cat patched_deps.list |sort > patched_deps.list.sorted
          cat trunk_deps.list |sort > trunk_deps.list.sorted

          echo -e "INFO: comparing installed packages for patched and trunk subpackages"
          echo -e "Packages installed from Trunk < > Packages installed from patched distgit"
          sdiff -s trunk_deps.list.sorted patched_deps.list.sorted
          if [ $? -ne 0 ]; then
              echo -e "ERROR: There are differences between deps with packages for patched and trunk subpackages"
              exit 1
          fi
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"
      when: compare_deps|default(false)

    - name: Compare build dependencies with latest trunk
      changed_when: true
      shell:
        cmd: |
          DESTINATION="$PWD/rpms"
          MOCK_CMD="mock -r data/dlrn-1.cfg "
          mkdir -p $DESTINATION
          cp data/repos/current/*src.rpm $DESTINATION
          INSTALL=" --installdeps $DESTINATION/*src.rpm"
          NVR=$(echo $(basename $DESTINATION/*src.rpm)|sed 's/.rpm$//')
          PKG_NAME=$(echo $NVR|rev|cut -d- -f3-|rev)
          echo -e "INFO: installing build deps with the patched distgit"
          $MOCK_CMD --init
          $MOCK_CMD --install dnf --install dnf-plugins-core
          $MOCK_CMD $INSTALL
          $MOCK_CMD -q --shell "rpm -qa" > patched_builddeps.list
          echo -e "INFO: installing build deps from latest RDO Trunk repo"
          $MOCK_CMD --init
          $MOCK_CMD --install dnf --install dnf-plugins-core
          $MOCK_CMD --shell "dnf builddep $PKG_NAME"
          $MOCK_CMD -q --shell "rpm -qa" > trunk_builddeps.list
          $MOCK_CMD -q --shell "dnf repoquery --requires $PKG_NAME.src" > trunk_BRs.list
          cat patched_builddeps.list |sort > patched_builddeps.list.sorted
          cat trunk_builddeps.list |sort > trunk_builddeps.list.sorted

          echo -e "INFO: comparing installed packages for patched and trunk build dependencies"
          echo -e "Packages installed from Trunk < > Packages installed from patched distgit"
          sdiff -s trunk_builddeps.list.sorted patched_builddeps.list.sorted
          if [ $? -ne 0 ]; then
              echo -e "ERROR: There are differences between build deps with SRPM for patched and trunk"
              echo -e "INFO: Total Build Requirements from patched spec"
              rpm -q --requires -p $DESTINATION/*src.rpm
              echo -e "INFO: Total Build Requirements from latest Trunk"
              cat trunk_BRs.list
              exit 1
          fi
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"
      when: compare_builddeps|default(false)
