---
- name: Enable epel in CentOS8 systems (for mock installation)
  package:
    name:
      - epel-release
  become: true
  when:
    ansible_distribution == "CentOS" and ansible_distribution_major_version|int >= 8

- name: Ensure bindep.txt dependencies are installed
  include_role:
    name: bindep
  vars:
    bindep_dir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"

- name: Run tools/test-setup.sh if exists
  include_role:
    name: test-setup
  vars:
    zuul_work_dir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"

- name: Ensure user in mock group
  user:
    name: "{{ ansible_user }}"
    groups: mock
    append: true
  become: true
