---
- name: Setup deps repo for mock
  get_url:
    url: https://trunk.rdoproject.org/centos{{ ansible_distribution_major_version }}-master/delorean-deps.repo
    dest: /etc/yum.repos.d/delorean-deps.repo
  become: true
  when:
    - ansible_distribution == "CentOS"

- name: Ensure bindep.txt dependencies are installed
  include_role:
    name: bindep
  vars:
    bindep_dir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"

- name: Run tools/test-setup.sh if exists
  include_role:
    name: test-setup
  vars:
    zuul_work_dir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"

- name: Remove deps repo
  file:
    path: /etc/yum.repos.d/delorean-deps.repo
    state: absent
  become: true
  when:
    - ansible_distribution == "CentOS"
    - ansible_distribution_major_version == '8'

- name: Ensure user in mock group
  user:
    name: "{{ ansible_user }}"
    groups: mock
    append: true
  become: true
