- hosts: all
  name: weirdo-docs playbook
  tasks:

    - name: Run common weirdo tasks
      ansible.builtin.include_tasks:
        file: playbooks/weirdo/common.yaml

    - name: Setup docs
      shell:
        cmd: |
          set +e
          cd "{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdo-infra/weirdo'].src_dir }}"
          tox -e docs
      changed_when: true
