---
- hosts: all
  tasks:
    - name: Install epel-release
      when:
        - ansible_distribution_major_version|int >= 8
        - ansible_distribution == "CentOS"
      shell:
        cmd: |
          sudo dnf -y install epel-release
          sudo dnf config-manager --enable epel
          sudo dnf -y install mock
          sudo dnf config-manager --disable epel
      become: true
      changed_when: true

    - name: Install pre-requisites
      package:
        name:
          - createrepo
          - redhat-rpm-config
          - rpmdevtools
        state: present
      become: true

    - name: Setup to use bootstrap and disable warnings
      shell: |
          echo "config_opts['use_bootstrap_container'] = True" >> /etc/mock/site-defaults.cfg
          echo "config_opts['dnf_warning'] = False" >> /etc/mock/site-defaults.cfg
      become: true
      changed_when: true

    - name: Add zuul user to mock group
      become: true
      shell:
        cmd: |
          usermod -a -G mock zuul
      changed_when: true
