---
- hosts: all
  tasks:
    - name: Run make rpm for RHEL-8
      when:
        - ansible_distribution_major_version|int <= 8
        - ansible_distribution == "RedHat"
      shell:
        cmd: |
            export DIST="{{ dist | default('el7') }}"
            export MOCK_CONFIG="{{ mock_config | default('epel-7-x86_64') }}"
            make rpm
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['github.com/ceph/ceph-ansible'].src_dir }}"
      changed_when: true

    - name: Run make rpm for CentOS-8
      when:
        - ansible_distribution_major_version|int >= 8
        - ansible_distribution == "CentOS"
      shell:
        cmd: |
            make rpm
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['github.com/ceph/ceph-ansible'].src_dir }}"
      changed_when: true

    - name: Build rpm for ansible
      when:
        - build_ansible_rpm is defined
        - build_ansible_rpm|bool
      import_tasks: ../ansible/build-ansible-rpm.yaml

    - name: Setup log path fact
      include_role:
        name: set-zuul-log-path-fact

    - name: Define buildset artifacts location
      zuul_return:
        data:
          buildset_artifacts_url: "https://logserver.rdoproject.org/{{ zuul_log_path }}/buildset"

    - name: Copy logs to logs directory
      changed_when: true
      shell:
        cmd: |
            mkdir logs
            cp *.log logs
            cp *.rpm logs
            pushd logs
            createrepo .
            popd
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['github.com/ceph/ceph-ansible'].src_dir }}"
      args:
        warn: false
