- hosts: all
  name: weirdo-ansible-lint playbook
  tasks:

    - name: Run common weirdo tasks
      ansible.builtin.include_tasks:
        file: "{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdo-jobs'].src_dir }}/playbooks/weirdo/common.yaml"

    - name: Run ansible lint
      shell:
        cmd: |
          set +e
          cd "{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdo-infra/weirdo'].src_dir }}"
          tox -e ansible-lint
      changed_when: true
