[access "refs/*"]
  read = group config-core
  owner = group config-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group config-core
    label-Code-Review = -2..+2 group config-ptl
    label-Code-Review = -2..+2 group rdo-provenpackagers
    label-Verified = -2..+2 group config-ptl
    label-Workflow = -1..+1 group config-core
    label-Workflow = -1..+1 group config-ptl
    label-Workflow = -1..+1 group rdo-provenpackagers
    label-Workflow = -1..+0 group Registered Users
    submit = group config-ptl
    rebase = group rdo-provenpackagers
    read = group Registered Users
    read = group config-core
	abandon = group config-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group config-core
    read = group rdo-provenpackagers
[receive]
    requireChangeId = true
[submit]
    mergeContent = false
    action = rebase if necessary
[project]
        description = RDO Zuul roles and jobs
