[access "refs/*"]
  read = group config-core
  owner = group config-ptl
[access "refs/heads/*"]
  label-Code-Review = -2..+2 group config-core
  label-Code-Review = -2..+2 group config-ptl
  label-Code-Review = -2..+2 group rdo-provenpackagers
  label-Verified = -2..+2 group config-ptl
  label-Workflow = -1..+1 group config-core
  label-Workflow = -1..+1 group config-ptl
  label-Workflow = -1..+0 group Registered Users
  label-Workflow = -1..+1 group rdo-provenpackagers
  rebase = group config-core
  rebase = group rdo-provenpackagers
  abandon = group config-core
  submit = group config-ptl
  read = group config-core
  read = group Registered Users
[access "refs/meta/config"]
  read = group config-core
  read = group Registered Users
  read = group rdo-provenpackagers
[receive]
  requireChangeId = true
[submit]
  mergeContent = false
  action = fast forward only
[project]
        description = RDO Zuul roles and jobs
