- hosts: all
  name: playbook for rdoinfo-DLRN-check
  tasks:
    - name: link rdoinfo dir to /tmp/rdoinfo
      file:
        src: "{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdoinfo'].src_dir }}"
        dest: /tmp/rdoinfo
        owner: '{{ ansible_user }}'
        group: '{{ ansible_user }}'
        state: link

    - name: Copy rdoinfo-DLRN.sh script
      copy:
        src: rdoinfo-DLRN.sh
        dest: '{{ ansible_user_dir }}/rdoinfo-DLRN.sh'
        owner: '{{ ansible_user }}'
        group: '{{ ansible_user }}'
        mode: 0755

    - name: Setup deps repo for mock
      get_url:
        url: https://trunk.rdoproject.org/centos{{ ansible_distribution_major_version }}-master/delorean-deps.repo
        dest: /etc/yum.repos.d/delorean-deps.repo
      become: true
      when:
        - ansible_distribution == "CentOS"

    - name: Ensure bindep.txt dependencies are installed
      include_role:
        name: bindep
      vars:
        bindep_dir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"

    - name: Ensure tox is installed
      import_role:
        name: ensure-tox
      vars:
        ensure_global_symlinks: true

    - name: Remove deps repo
      file:
        path: /etc/yum.repos.d/delorean-deps.repo
        state: absent
      become: true
      when:
        - ansible_distribution == "CentOS"

    - name: Ensure user in mock group
      user:
        name: "{{ ansible_user }}"
        groups: mock
        append: true
      become: true

    - name: Set up mock configuration
      shell:
        cmd: |
          cat << EOF | tee /etc/mock/site-defaults.cfg
          config_opts['use_bootstrap'] = False
          config_opts['dnf_warning'] = False
          EOF
      become: true
      changed_when: true

    - name: install rdopkg dependencies
      become: true
      changed_when: true
      shell:
        cmd: |
          dnf install -y python3-pip rpmlint python3-rpm {{ 'python3-pyOpenSSL' if ansible_distribution_major_version == "8" }}

    - name: Build packages for tags being updated
      shell:
        cmd: |
          set +e -x
          python3 -m venv --system-site-packages .venv
          . .venv/bin/activate
          pip install rdopkg

          export CENTOS_VERS="{{  centos_version | default('centos7') }}"

          CURRENT_MASTER_TAG="dalmatian-uc"

          PACKAGES_UPDATED_MASTER=""
          PACKAGES_UPDATED_WALLABY=""

          TAGS_DIFF=$(rdopkg info-tags-diff .)

          while read line; do
              PKGNAME=$(awk '{print $1}' <<< $line)
              if [ "${CENTOS_VERS}" = "centos9" ]; then
                  if [[ -n $(echo "$line" | grep -w $CURRENT_MASTER_TAG) ]]; then
                      PACKAGES_UPDATED_MASTER="$PACKAGES_UPDATED_MASTER $PKGNAME"
                  fi
                  if [[ -n $(echo "$line" | grep -w caracal) ]]; then
                      PACKAGES_UPDATED_CARACAL="$PACKAGES_UPDATED_CARACAL $PKGNAME"
                  fi
                  if [[ -n $(echo "$line" | grep -w bobcat) ]]; then
                      PACKAGES_UPDATED_BOBCAT="$PACKAGES_UPDATED_BOBCAT $PKGNAME"
                  fi
                  if [[ -n $(echo "$line" | grep -w antelope) ]]; then
                      PACKAGES_UPDATED_ANTELOPE="$PACKAGES_UPDATED_ANTELOPE $PKGNAME"
                  fi
                  if [[ -n $(echo "$line" | grep -w zed) ]]; then
                      PACKAGES_UPDATED_ZED="$PACKAGES_UPDATED_ZED $PKGNAME"
                  fi
                  if [[ -n $(echo "$line" | grep -w yoga) ]]; then
                      PACKAGES_UPDATED_YOGA="$PACKAGES_UPDATED_YOGA $PKGNAME"
                  fi
                  if [[ -n $(echo "$line" | grep -w xena) ]]; then
                      PACKAGES_UPDATED_XENA="$PACKAGES_UPDATED_XENA $PKGNAME"
                  fi
                  if [[ -n $(echo "$line" | grep -w wallaby) ]]; then
                      PACKAGES_UPDATED_WALLABY="$PACKAGES_UPDATED_WALLABY $PKGNAME"
                  fi
              fi
              if [ "${CENTOS_VERS}" = "centos8" ]; then
                  if [[ -n $(echo "$line" | grep -w yoga) ]]; then
                      PACKAGES_UPDATED_YOGA="$PACKAGES_UPDATED_YOGA $PKGNAME"
                  fi
                  if [[ -n $(echo "$line" | grep -w xena) ]]; then
                      PACKAGES_UPDATED_XENA="$PACKAGES_UPDATED_XENA $PKGNAME"
                  fi
                  if [[ -n $(echo "$line" | grep -w wallaby) ]]; then
                      PACKAGES_UPDATED_WALLABY="$PACKAGES_UPDATED_WALLABY $PKGNAME"
                  fi
              fi
          done <<< "${TAGS_DIFF}"

          pushd "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"
          # Create log directory always
          mkdir -p logs
          ret=0
          TIMEOUT="{{ zuul.timeout | default('10800') }}"
          if [ -n "${PACKAGES_UPDATED_MASTER}" ]; then
              timeout --signal=SIGKILL $TIMEOUT  {{ ansible_user_dir }}/rdoinfo-DLRN.sh $CURRENT_MASTER_TAG "${PACKAGES_UPDATED_MASTER}" "${CENTOS_VERS}"
              ret1=$?
              if [ $ret1 -ne 0 ]; then
                  ret=$ret1
              fi
              # The data/ contents have been archived already, remove to avoid issues with the next branch
              rm -rf data
              sudo rm -rf /var/cache/mock/*
          fi
          if [ -n "${PACKAGES_UPDATED_CARACAL}" ]; then
              timeout --signal=SIGKILL $TIMEOUT  {{ ansible_user_dir }}/rdoinfo-DLRN.sh caracal "${PACKAGES_UPDATED_CARACAL}" "${CENTOS_VERS}"
              ret1=$?
              if [ $ret1 -ne 0 ]; then
                  ret=$ret1
              fi
              # The data/ contents have been archived already, remove to avoid issues with the next branch
              rm -rf data
              sudo rm -rf /var/cache/mock/*
          fi
          if [ -n "${PACKAGES_UPDATED_BOBCAT}" ]; then
              timeout --signal=SIGKILL $TIMEOUT  {{ ansible_user_dir }}/rdoinfo-DLRN.sh bobcat "${PACKAGES_UPDATED_BOBCAT}" "${CENTOS_VERS}"
              ret1=$?
              if [ $ret1 -ne 0 ]; then
                  ret=$ret1
              fi
              # The data/ contents have been archived already, remove to avoid issues with the next branch
              rm -rf data
              sudo rm -rf /var/cache/mock/*
          fi
          if [ -n "${PACKAGES_UPDATED_ANTELOPE}" ]; then
              timeout --signal=SIGKILL $TIMEOUT  {{ ansible_user_dir }}/rdoinfo-DLRN.sh antelope "${PACKAGES_UPDATED_ANTELOPE}" "${CENTOS_VERS}"
              ret1=$?
              if [ $ret1 -ne 0 ]; then
                  ret=$ret1
              fi
              # The data/ contents have been archived already, remove to avoid issues with the next branch
              rm -rf data
              sudo rm -rf /var/cache/mock/*
          fi
          if [ -n "${PACKAGES_UPDATED_ZED}" ]; then
              timeout --signal=SIGKILL $TIMEOUT  {{ ansible_user_dir }}/rdoinfo-DLRN.sh zed "${PACKAGES_UPDATED_ZED}" "${CENTOS_VERS}"
              ret1=$?
              if [ $ret1 -ne 0 ]; then
                  ret=$ret1
              fi
              # The data/ contents have been archived already, remove to avoid issues with the next branch
              rm -rf data
              sudo rm -rf /var/cache/mock/*
          fi
          if [ -n "${PACKAGES_UPDATED_YOGA}" ]; then
              timeout --signal=SIGKILL $TIMEOUT  {{ ansible_user_dir }}/rdoinfo-DLRN.sh yoga "${PACKAGES_UPDATED_YOGA}" "${CENTOS_VERS}"
              ret1=$?
              if [ $ret1 -ne 0 ]; then
                  ret=$ret1
              fi
              # The data/ contents have been archived already, remove to avoid issues with the next branch
              rm -rf data
              sudo rm -rf /var/cache/mock/*
          fi
          if [ -n "${PACKAGES_UPDATED_XENA}" ]; then
              timeout --signal=SIGKILL $TIMEOUT  {{ ansible_user_dir }}/rdoinfo-DLRN.sh xena "${PACKAGES_UPDATED_XENA}" "${CENTOS_VERS}"
              ret1=$?
              if [ $ret1 -ne 0 ]; then
                  ret=$ret1
              fi
              # The data/ contents have been archived already, remove to avoid issues with the next branch
              rm -rf data
              sudo rm -rf /var/cache/mock/*
          fi
          if [ -n "${PACKAGES_UPDATED_WALLABY}" ]; then
              timeout --signal=SIGKILL $TIMEOUT  {{ ansible_user_dir }}/rdoinfo-DLRN.sh wallaby "${PACKAGES_UPDATED_WALLABY}" "${CENTOS_VERS}"
              ret1=$?
              if [ $ret1 -ne 0 ]; then
                  ret=$ret1
              fi
              # The data/ contents have been archived already, remove to avoid issues with the next branch
              rm -rf data
              sudo rm -rf /var/cache/mock/*
          fi
          popd

          exit $ret
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdoinfo'].src_dir }}"
      changed_when: true
      environment:
        LANG: 'en_US.UTF-8'
        ZUUL_PIPELINE: "{{ zuul.pipeline }}"
