- hosts: all
  tasks:

    - name: Create workspace directory
      file:
        path: '{{ ansible_user_dir }}/workspace'
        state: directory

    - name: Create centos_releasever fact
      set_fact:
        centos_releasever: "{{ ansible_distribution_major_version | default('8') }}"
      when: centos_releasever is not defined

    - name: set centos_release fact
      set_fact:
        centos_release: "centos{{ ansible_distribution_major_version | default('7') }}"

    - name: install tox in CentOS 9
      shell:
        cmd: |
          # tox is not in CentOS 9 and it is not in base image. Doing this workaround until we have tox in the image
          sudo pip install tox
      when: centos_release == "centos9"

    - name: Setup weirdo roles
      shell:
        cmd: |
          export WBASE="{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdo-infra/weirdo'].src_dir }}";
          mkdir -p $WBASE/playbooks/roles
          {% for project in ["common", "logs", "kolla", "packstack", "puppet-openstack"] %}
            ln -s "{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdo-infra/ansible-role-weirdo-' + project].src_dir }}" $WBASE/playbooks/roles/{{ project }};  # noqa 204
          {% endfor %}
      changed_when: true

    - name: Execute mirror info role
      import_role:
        name: mirror-info-fork
      vars:
        mirror_fqdn: "mirror.{{ nodepool.region | lower }}.{{ nodepool.cloud | lower }}.rdoproject.org"

    - name: Run weirdo for the desired project and scenario
      shell:
        cmd: |
          set -e -x

          MASTER="zed"
          RELEASE="{{ rdoinfo_release }}"
          DIST_VER="{{ centos_releasever }}"

          # Find out if it is puppet or packstack and scenario
          if [[ "{{ zuul.job }}" == *"puppet"* ]]; then
              project="puppet-openstack"
          else
              project="packstack"
          fi
          scenario="{{ scenario }}"

          # Set version related variables
          if [ $RELEASE = $MASTER ]; then
            VERSION="master"
            O_RELEASE="master"
          else
            VERSION="stable/$RELEASE"
            O_RELEASE="$RELEASE"
          fi

          if [[ "{{ job_type | default('periodic') }}" == "promotion" ]]; then
            enable_puppet_modules_rpm=false
            dlrn_repo="puppet-ci-testing"
          else
            enable_puppet_modules_rpm=true
            dlrn_repo="puppet-passed-ci"
          fi

          # Prepare Ansible inventory to use localhost
          pushd {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdo-infra/weirdo'].src_dir }}
          cat <<EOF >hosts
          localhost ansible_connection=local ansible_python_interpreter=/usr/bin/python{{ '2' if centos_release == "centos7" else '3' }}
          [openstack_nodes]
          localhost log_destination=/var/log/weirdo
          EOF

          REPOS_URL="http://trunk.rdoproject.org/centos${DIST_VER}-${O_RELEASE}/${dlrn_repo}/delorean.repo,https://trunk.rdoproject.org/centos${DIST_VER}-${O_RELEASE}/delorean-deps.repo" # noqa 204

          tox -e ansible-playbook -- -vv -b -i hosts playbooks/$project-$scenario.yml \
              -e version=$VERSION \
              -e openstack_release=$O_RELEASE \
              -e selinux_enforcing="{{ selinux_enforcing | default('true') }}" \
              -e tempest_from_source=false \
              -e enable_puppet_modules_rpm=${enable_puppet_modules_rpm} \
              -e trunk_repositories=$REPOS_URL \

      changed_when: true
      environment:
        LANG: 'en_US.UTF-8'
