[defaults]
callbacks_enabled = utc_timestamp,ansible.posix.profile_tasks
callback_whitelist = utc_timestamp,profile_tasks
callback_plugins = ./callback_plugins
roles_path = /home/zuul/src/github.com/openstack-k8s-operators/data-plane-adoption/tests/roles
module_utils=/home/zuul/src/github.com/openstack-k8s-operators/data-plane-adoption/tests/plugins/module_utils
library=/home/zuul/src/github.com/openstack-k8s-operators/data-plane-adoption/tests/plugins/modules
