[defaults]
callback_whitelist = profile_json,profile_tasks
roles_path = /home/zuul/src/github.com/openstack-k8s-operators/data-plane-adoption/tests/roles
module_utils=/home/zuul/src/github.com/openstack-k8s-operators/data-plane-adoption/tests/plugins/module_utils
library=/home/zuul/src/github.com/openstack-k8s-operators/data-plane-adoption/tests/plugins/modules
