- hosts: all
  vars:
    framework_dir: "/home/zuul/src/github.com/openstack-k8s-operators/ci-framework"
  tasks:
    - name: Install dependencies from install_yamls
      ansible.builtin.include_role:
        name: install_yamls_makes
        tasks_from: 'make_download_tools'

    - name: Prepare for network isolation in crc env
      ansible.builtin.include_role:
        name: install_yamls_makes
        tasks_from: 'make_crc_attach_default_interface'

    - name: Run make openstack using install_yamls_makes
      ansible.builtin.include_role:
        name: install_yamls_makes
        tasks_from: 'make_openstack'

    - name: Make sure all Openstack operators are deployed
      ansible.builtin.shell: |
        set -o pipefail && \
        oc get csv -l operators.coreos.com/openstack-operator.openstack-operators -n "openstack-operators" --no-headers=true | grep -i "succeeded"
      register: operator_status
      until: operator_status.rc == 0
      changed_when: false
      retries: 30
      delay: 30
