- hosts: all
  gather_facts: false

  vars:
    framework_dir: "/home/zuul/src/github.com/openstack-k8s-operators/ci-framework"
    zuul_url: "https://review.rdoproject.org/zuul/api"

  tasks:
    # Make an API call to the Zuul endpoint to fetch build data"
    - name: Call the API to fetch build data
      ansible.builtin.uri:
        url: "{{ zuul_url }}/builds?uuid={{ build_uuid }}"
        return_content: true
      register: build_data
      failed_when: build_data.status != 200
      when: build_uuid is defined and build_uuid | length > 0

    # Extracts the start_time from the API response and sets it as a fact"
    - name: Set the start_time for the build
      ansible.builtin.set_fact:
        build_start_time: "{{ build_data.json[0]['start_time'] | default('') }}"

    # Display the polarion test run name
    - name: Test run name
      ansible.builtin.debug:
        msg: "Test run name: {{ job_name }}-{{ build_start_time }}"

    # Configure Polarion parameters
    - name: Set test run title for polarion reporting
      ansible.builtin.set_fact:
        cifmw_polarion_jump_extra_vars: >-
           {{ cifmw_polarion_jump_extra_vars | default('') }}
           --project-id RHOSO
           --testrun-title {{ job_name }}-{{ build_start_time }}
           --testrun-status finished

    # Set the testrun template id
    - name: Set test run template id
      ansible.builtin.set_fact:
        cifmw_polarion_jump_extra_vars: >-
           {{ cifmw_polarion_jump_extra_vars | default('') }}
           --testrun-template-id {{ cifmw_polarion_testrun_template_id }}
      when: cifmw_polarion_testrun_template_id is defined


    # Include Polarion role
    - name: Include Polarion role
      ansible.builtin.include_role:
        name: "polarion"
