- hosts: controller
  vars:
    framework_dir: "/home/zuul/src/github.com/openstack-k8s-operators/ci-framework"
  tasks:

    - name: Call test role
      ansible.builtin.import_role:
        name: "{{ test_role }}"
