- hosts: all
  vars:
    framework_dir: "/home/zuul-worker/src/github.com/openstack-k8s-operators/ci-framework"
  tasks:
    - name: Prepare install_yamls make targets
      vars:
        cifmw_install_yamls_vars: "{{ install_yamls_vars }}"
      ansible.builtin.include_role:
        name: install_yamls

    - name: Run make openstack using install_yamls_makes
      vars:
        cifmw_install_yamls_vars:
          NAMESPACE: "openstack"
      ansible.builtin.include_role:
        name: install_yamls_makes
        tasks_from: 'make_openstack'

    - name: Make sure all Openstack operators are deployed
      ansible.builtin.shell: |
        set -o pipefail && \
        oc get csv -l operators.coreos.com/openstack-operator.openstack-operators -n "openstack-operators" --no-headers=true | grep -i "succeeded"
      register: operator_status
      until: operator_status.rc == 0
      changed_when: false
      retries: 30
      delay: 30
