- hosts: controller
  gather_facts: false
  tasks:
    - name: Collect pod logs
      ansible.builtin.shell: |
        source ~/.bashrc
        mkdir -p logs/controller/pod
        chmod -R a+r "{{ ansible_user_dir }}/openstack"
        chown -R {{ ansible_user }}: "{{ ansible_user_dir }}/openstack"
        pushd logs/controller
        ip a > network.txt
        ip ro ls >> network.txt
        oc project openstack
        oc get pods > all_pods.txt
        all_pods=$(oc get pods -o name)
        for pod in $all_pods; do
          echo $pod
          oc logs $pod > ${pod}-logs.txt
          oc get -o yaml $pod > ${pod}.yaml
          oc describe $pod > ${pod}-describe.txt
        done
        popd
        test -d /home/zuul-worker/src/github.com/openstack-k8s-operators/install_yamls/out && \
          rsync -r /home/zuul-worker/src/github.com/openstack-k8s-operators/install_yamls/out ./install_yamls_out
      args:
        chdir: "{{ ansible_user_dir }}/openstack"
      changed_when: true

    - name: collect data-plane-adoption test logs
      ansible.builtin.shell: |
        rsync -r test_minimal_out_* "{{ zuul.executor.log_root }}/test_minimal_out"
      args:
        chdir: "/home/zuul-worker/src/github.com/openstack-k8s-operators/data-plane-adoption/tests"

    - name: Copy files from {{ ansible_user_dir }}/openstack on node
      # ansible.posix.synchronize does not work with zuul-executor
      synchronize:
        src: '{{ ansible_user_dir }}/openstack/'
        dest: '{{ zuul.executor.log_root }}'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - --include=/etc/**
          - --include=/conf/**
          - --include=/logs/**
          - --include=*/
          - --prune-empty-dirs
