- hosts: controller
  gather_facts: false
  vars:
    rdo_dir: "/home/zuul/src/review.rdoproject.org/rdo-jobs/playbooks/data_plane_adoption"
    collect_logs_src_dir: "/home/zuul/src/github.com/openstack-archive/ansible-role-collect-logs"
  tasks:
    - name: Collect data_plane_adoption files
      ansible.builtin.shell: |
        source ~/.bashrc
        mkdir -p logs/controller/
        pushd logs/controller
        ip a > network.txt
        ip ro ls >> network.txt
        test -d /home/zuul/src/github.com/openstack-k8s-operators/install_yamls/out && \
          rsync -r /home/zuul/src/github.com/openstack-k8s-operators/install_yamls/out ./install_yamls_out
        rsync -r /home/zuul/src/github.com/openstack-k8s-operators/data-plane-adoption ./data-plane-adoption-tests-repo
        rsync -r /home/zuul/src/review.rdoproject.org/rdo-jobs/playbooks/data_plane_adoption ./data-plane-adoption-tests-repo
        popd
      args:
        chdir: "{{ ansible_user_dir }}"
      changed_when: true
      failed_when: false

    - name: Copy ci-framework-data directory into {{ ansible_user_dir }}/logs/controller
      failed_when: false
      ansible.builtin.copy:
        src: "{{ ansible_user_dir }}/ci-framework-data"
        dest: "{{ ansible_user_dir }}/logs/controller"
        remote_src: true

    - name: Gather logs from standalone deployment
      failed_when: false
      ansible.builtin.shell: |
        ansible-galaxy collection install ansible.posix
        ansible-playbook {{ rdo_dir }}/standalone_collect_logs.yaml -i /home/zuul/{{ standalone_vm_inventory | default("standalone_vm_inventory") }}

    # os_net_config_file is only defined for multinode tripleo deploy job (not standalone)
    - name: Checkout collect_logs commit and gather logs from undercloud deployment
      when: os_net_config_file is defined
      block:
        - name: Fetch the tripleo inventory from undercloud
          delegate_to: undercloud
          failed_when: false
          ansible.builtin.fetch:
            src: /home/zuul/overcloud-deploy/overcloud/config-download/overcloud/tripleo-ansible-inventory.yaml
            dest: "{{ tripleo_ansible_inventory }}"
            flat: true
        - name: Run the tripleo_collect_logs play
          failed_when: false
          ansible.builtin.shell: |
            git checkout 910efeb55838f076893ae97a1085ad55062ef05e
            sed -i 's/tripleo-admin/zuul/g' {{ tripleo_ansible_inventory }}
            ansible-playbook {{ rdo_dir }}/tripleo_collect_logs.yaml -i {{ tripleo_ansible_inventory }}
          args:
            chdir: "{{ collect_logs_src_dir }}"
      vars:
        tripleo_ansible_inventory: /home/zuul/tripleo-ansible-inventory.yaml

    - name: Copy pod debug files from {{ ansible_user_dir }}/logs on node
      failed_when: false
      synchronize:
        src: '{{ ansible_user_dir }}/logs/'
        dest: '{{ zuul.executor.log_root }}'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - --include=/etc/**
          - --include=/conf/**
          - --include=/logs/**
          - --include=*/
          - --prune-empty-dirs
