- hosts: controller
  gather_facts: false
  tasks:
    - name: Collect pod logs
      ansible.builtin.shell: |
        source ~/.bashrc
        mkdir -p logs/controller/pod
        chmod -R a+r "{{ ansible_user_dir }}/openstack-operators"
        chown -R {{ ansible_user }}: "{{ ansible_user_dir }}/openstack-operators"
        pushd logs/controller
        ip a > network.txt
        ip ro ls >> network.txt
        oc project openstack
        oc get pods > all_pods.txt
        all_pods=$(oc get pods -o name)
        for pod in $all_pods; do
          echo $pod
          oc logs $pod > ${pod}-logs.txt
          oc get -o yaml $pod > ${pod}.yaml
          oc describe $pod > ${pod}-describe.txt
        done
        popd
        test -d /home/zuul-worker/src/github.com/openstack-k8s-operators/install_yamls/out && \
          rsync -r /home/zuul-worker/src/github.com/openstack-k8s-operators/install_yamls/out ./install_yamls_out
      args:
        chdir: "{{ ansible_user_dir }}/openstack-operators"
      changed_when: true
      failed_when: false

    - name: collect data-plane-adoption test input files from rdo-jobs directory
      ansible.builtin.shell: |
        cp {{ item }} {{ ansible_user_dir }}
      args:
        chdir: "/home/zuul-worker/src/review.rdoproject.org/rdo-jobs/playbooks/data_plane_adoption"
      loop:
        - secrets.yaml
        - vars.yaml
        - ansible.cfg
      failed_when: false

    - name: collect data-plane-adoption test logs from dpa directory
      ansible.builtin.shell: |
        cp logs/test_minimal_out_* {{ ansible_user_dir }}
        cp tests/inventory.sample-crc-vagrant.yaml {{ ansible_user_dir }}
      args:
        chdir: "/home/zuul-worker/src/github.com/openstack-k8s-operators/data-plane-adoption/tests"
      failed_when: false

    - name: Copy files from {{ ansible_user_dir }}/openstack on node
      # ansible.posix.synchronize does not work with zuul-executor
      failed_when: false
      synchronize:
        src: '{{ ansible_user_dir }}/openstack/'
        dest: '{{ zuul.executor.log_root }}'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - --include=/etc/**
          - --include=/conf/**
          - --include=/logs/**
          - --include=*/
          - --prune-empty-dirs
