- hosts: controller
  gather_facts: false
  vars:
    rdo_dir: "/home/zuul/src/review.rdoproject.org/rdo-jobs/playbooks/data_plane_adoption"
    cifmw_parameters_file: "/home/zuul/vars.yaml"
    framework_dir: "/home/zuul/src/github.com/openstack-k8s-operators/ci-framework"
  tasks:
    - name: Collect pod logs
      ansible.builtin.shell: |
        source ~/.bashrc
        mkdir -p logs/controller/pod logs/controller/crs
        pushd logs/controller
        ip a > network.txt
        ip ro ls >> network.txt
        all_crds=$(oc get crd | awk '/openstack/ { print $1}' | awk -F '.' '{print $1}')
        for cr in ${all_crds}; do
          echo ${cr}
          oc get -o yaml ${cr} > crs/${cr}.yaml
        done
        namespaces=("openstack-operators" "openstack")
        for namespace in ${namespaces[@]}; do
          oc project $namespace
          oc get pods >> all_pods.txt
          all_pods=$(oc get pods -o name)
          for pod in $all_pods; do
            echo $pod
            oc logs $pod > ${pod}-logs.txt
            oc get -o yaml $pod > ${pod}.yaml
            oc describe $pod > ${pod}-describe.txt
          done
        done
        test -d /home/zuul/src/github.com/openstack-k8s-operators/install_yamls/out && \
          rsync -r /home/zuul/src/github.com/openstack-k8s-operators/install_yamls/out ./install_yamls_out
        rsync -r /home/zuul/src/github.com/openstack-k8s-operators/data-plane-adoption ./data-plane-adoption-tests-repo
        rsync -r /home/zuul/src/review.rdoproject.org/rdo-jobs/playbooks/data_plane_adoption ./data-plane-adoption-tests-repo
        popd
      args:
        chdir: "{{ ansible_user_dir }}"
      changed_when: true
      failed_when: false

    - name: Verify if "success" flag exists after successful tests execution
      register: cifmw_success_flag
      ansible.builtin.stat:
        path: "{{ ansible_user_dir }}/cifmw-success"

    - name: Call must-gather to collect more information if tests failed
      when: dpa_must_gather and not cifmw_success_flag.stat.exists
      ignore_errors: true  # noqa: ignore-errors
      ansible.builtin.import_role:
      ansible.builtin.shell: >
        ansible-playbook {{ rdo_dir }}/ci_framework_must_gather.yaml
        -e "@{{ ansible_user_dir }}/ci-framework-data/artifacts/parameters/custom-params.yml"
        -e "@{{cifmw_parameters_file}}"
      args:
        chdir: "{{ framework_dir }}"

    - name: Copy ci-framework-data directory into {{ ansible_user_dir }}/logs
      failed_when: false
      ansible.builtin.copy:
        src: "{{ ansible_user_dir }}/ci-framework-data"
        dest: "{{ ansible_user_dir }}/logs/"
        remote_src: true

    - name: Gather logs from standalone deployment in single node jobs
      failed_when: false
      ansible.builtin.shell: |
        ansible-galaxy collection install ansible.posix
        ansible-playbook {{ rdo_dir }}/standalone_collect_logs.yaml -i /home/zuul/{{ standalone_vm_inventory | default("standalone_vm_inventory") }}

    - name: Copy pod debug files from {{ ansible_user_dir }}/logs on node
      failed_when: false
      synchronize:
        src: '{{ ansible_user_dir }}/logs/'
        dest: '{{ zuul.executor.log_root }}'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - --include=/etc/**
          - --include=/conf/**
          - --include=/logs/**
          - --include=*/
          - --prune-empty-dirs
