- hosts: controller
  gather_facts: false
  vars:
    dpa_dir: "/home/zuul/src/github.com/openstack-k8s-operators/data-plane-adoption"
    rdo_dir: "/home/zuul/src/review.rdoproject.org/rdo-jobs/playbooks/data_plane_adoption"
    framework_dir: "/home/zuul/src/github.com/openstack-k8s-operators/ci-framework"
    cifmw_datadir: "/home/zuul/ci-framework-data"
  tasks:
    - name: Create inventory for logs collection on the undercloud
      ansible.builtin.template:
        src: "{{ playbook_dir }}/files/standalone_vm_inventory.yaml.j2"
        dest: "/home/zuul/{{ tripleo_ci_inventory }}"
      vars:
        tripleo_name: 'undercloud'

    - name: Install collections to use nmcli and libvirt ansible modules
      ansible.builtin.command: ansible-galaxy collection install community.general community.libvirt

    - name: Copy ci-framework to undercloud to use when deploying ceph
      when: use_ceph | default('false')
      ansible.posix.synchronize:
        src: "{{ framework_dir }}/"
        dest: "/home/zuul/ci-framework"
        mode: pull
      delegate_to: undercloud

    - name: Write repo commands and deploy undercloud with install_yamls
      block:
        - name: Write out the repo setup commands to file for undercloud to use
          ansible.builtin.copy:
            dest: /home/zuul/cdn_subscription_repos.sh
            content: |
              sudo subscription-manager repos --enable=rhel-9-for-x86_64-baseos-eus-rpms \
                --enable=rhel-9-for-x86_64-appstream-eus-rpms \
                --enable=rhel-9-for-x86_64-highavailability-eus-rpms \
                --enable=openstack-17.1-for-rhel-9-x86_64-rpms \
                --enable=fast-datapath-for-rhel-9-x86_64-rpms
                {% if use_ceph is defined and use_ceph}
                --enable=rhceph-6-tools-for-rhel-9-x86_64-rpms
                {% endif %}

        - name: Deploy the tripleo undercloud
          ansible.builtin.shell: >
            ansible-playbook {{ rdo_dir }}/install_yamls_deploy_tripleo.yaml -e "job_name={{ zuul.job }}"
            {% if dpa_standalone_ntp_server is defined %}
            -e ntp_override={{ dpa_standalone_ntp_server }}
            {% endif %}
            -e repo_setup_commands=/home/zuul/cdn_subscription_repos.sh
            -e "standalone_ip={{ standalone_ip }}" -e "standalone_gateway={{ standalone_gateway }}"
            -e "undercloud_dns={{ undercloud_dns | default(standalone_gateway) }}"
            -e "use_ceph={{ use_ceph | default('false') }}"
          args:
            chdir: "{{ framework_dir }}"

    - name: Wait for undercloud vm to be available
      ansible.builtin.wait_for:
        port: 22
        host: "{{ standalone_ip }}"
        delay: 10
        timeout: 300

    - name: Allow ssh connection to overcloud nodes
      ansible.builtin.shell: >
        ansible-playbook -i {{ cifmw_datadir }}/artifacts/zuul_inventory.yml
        {{rdo_dir}}/allow_zuul_connect_tripleo.yaml
