- hosts: controller
  gather_facts: false
  vars:
    dpa_dir: "/home/zuul-worker/src/github.com/openstack-k8s-operators/data-plane-adoption"
    rdo_dir: "/home/zuul-worker/src/review.rdoproject.org/rdo-jobs/playbooks/data_plane_adoption"
  tasks:
    - name: Slurp the standalone IP address
      ansible.builtin.slurp:
        path: /etc/nodepool/primary_node_private
      register: standalone_ip

    - name: Place standalone_ip into vars.yaml
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/vars.yaml"
        regexp: '^external_mariadb_ip:'
        value: "external_mariadb_ip: {{ standalone_ip['content'] | b64decode | trim }}"

    - name: Slurp the mariadb pass from standalone
      delegate_to: primary
      ansible.builtin.slurp:
        path: /home/zuul-worker/tripleo-deploy/tripleo-standalone-passwords.yaml
      register: tripleo_passwords

    - name: set fact for mariadb pass from slurped file
      ansible.builtin.set_fact:
        tripleo_mariadb_pass: "{{ tripleo_passwords['content'] | b64decode | regex_search('MysqlRootPassword:.(.+)', '\\1') | first }}"

    - name: Place mariadb pass into secrets.yaml
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/secrets.yaml"
        regexp: 'external_db_root_password:'
        value: "external_db_root_password: {{ tripleo_mariadb_pass }}"

    # TODO(marios) fixme also affects haproxy may need another/better way
    - name: Setup IPTables forwarding on standalone for mariadb client access
      ansible.builtin.command: sudo iptables -t nat -A PREROUTING -p tcp --dport 3306 -j DNAT --to-destination 192.168.24.1:3306
      become: true
      delegate_to: primary

    - name: Slurp crc public key for ssh access to standalone
      ansible.builtin.slurp:
        path: /home/zuul-worker/.ssh/id_rsa.pub
      register: crc_ssh_key

    - name: Place crc public key to standalone authorized_keys
      delegate_to: primary
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/secrets.yaml"
        insertafter: "EOF"
        value: "{{ crc_ssh_key['content'] | b64decode | trim }}"

    - name: Set standalone login var controller1_ssh in secrets.yaml
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/secrets.yaml"
        regexp: 'controller1_ssh:'
        value: "controller1_ssh: ssh zuul-worker@{{ standalone_ip['content'] | b64decode | trim }}"

    - name: pip install openstackclient for keystone adoption on crc
      become: true
      ansible.builtin.pip:
        name: python-openstackclient
        executable: pip3

    - name: grab the crc VM IP address
      ansible.builtin.command: crc ip
      register: crc_ip

    - name: Set etc hosts entry for keystone glance placement to crc VM IP
      become: true
      ansible.builtin.lineinfile:
        path: "/etc/hosts"
        insertafter: "EOF"
        value: "{{ crc_ip.stdout }} keystone-public-openstack.apps-crc.testing glance-public-openstack.apps-crc.testing placement-public-openstack.apps-crc.testing"

    - name: Run data-plane-adoption tests
      community.general.make:
        chdir: "{{ dpa_dir }}"
        target: test-minimal
        params:
          TEST_CONFIG: "{{ rdo_dir }}/ansible.cfg"
          TEST_SECRETS: "{{ rdo_dir}}/secrets.yaml"
          TEST_VARS: "{{ rdo_dir }}/vars.yaml"
          TEST_INVENTORY: "tests/inventory.sample-crc-vagrant.yaml"
      register: make_res
      failed_when: "'failed=0' not in make_res.stdout_lines[-1:]"
