- hosts: controller
  gather_facts: false
  vars:
    dpa_dir: "/home/zuul/src/github.com/openstack-k8s-operators/data-plane-adoption"
    rdo_dir: "/home/zuul/src/review.rdoproject.org/rdo-jobs/playbooks/data_plane_adoption"
  tasks:
    - name: Slurp the standalone IP address
      ansible.builtin.slurp:
        path: /etc/nodepool/primary_node_private
      register: standalone_ip

    - name: Place standalone_ip into vars.yaml for EDPM
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/vars.yaml"
        regexp: '^edpm_node_ip:'
        value: "edpm_node_ip: {{ standalone_ip['content'] | b64decode | trim }}"

    - name: Place standalone_ip into vars.yaml for MariaDB
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/vars.yaml"
        regexp: '^external_mariadb_ip:'
        value: "external_mariadb_ip: {{ standalone_ip['content'] | b64decode | trim }}"

    - name: Place standalone_ip into vars.yaml for OVN
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/vars.yaml"
        regexp: '^external_ovndb_ip:'
        value: "external_ovndb_ip: {{ standalone_ip['content'] | b64decode | trim }}"

    - name: Slurp the private key from standalone
      delegate_to: primary
      ansible.builtin.slurp:
        path: /home/zuul/.ssh/id_rsa
      register: standalone_key

    - name: Place standalone key into secrets.yaml
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/secrets.yaml"
        regexp: '^edpm_encoded_privatekey:'
        value: "edpm_encoded_privatekey: \"{{ standalone_key['content'] }}\""

    - name: Slurp the tripleo passwords from standalone
      delegate_to: primary
      ansible.builtin.slurp:
        path: /home/zuul/tripleo-deploy/tripleo-standalone-passwords.yaml
      register: tripleo_passwords

    - name: Place mariadb password into secrets.yaml
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/secrets.yaml"
        regexp: 'external_db_root_password:'
        value: "external_db_root_password: {{ tripleo_passwords['content'] | b64decode | regex_search('MysqlRootPassword:.(.+)', '\\1') | first }}"

    - name: Place glance password into secrets.yaml
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/secrets.yaml"
        regexp: 'glance_password:'
        value: "glance_password: {{ tripleo_passwords['content'] | b64decode | regex_search('GlancePassword:.(.+)', '\\1') | first }}"

    - name: Place placement password into secrets.yaml
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/secrets.yaml"
        regexp: 'placement_password:'
        value: "placement_password: {{ tripleo_passwords['content'] | b64decode | regex_search('PlacementPassword:.(.+)', '\\1') | first }}"

    - name: Place cinder password into secrets.yaml
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/secrets.yaml"
        regexp: 'cinder_password:'
        value: "cinder_password: {{ tripleo_passwords['content'] | b64decode | regex_search('CinderPassword:.(.+)', '\\1') | first }}"

    - name: Place neutron password into secrets.yaml
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/secrets.yaml"
        regexp: 'neutron_password:'
        value: "neutron_password: {{ tripleo_passwords['content'] | b64decode | regex_search('NeutronPassword:.(.+)', '\\1') | first }}"

    # TODO(marios) fixme also affects haproxy may need another/better way
    - name: Setup IPTables forwarding on standalone for mariadb client access
      ansible.builtin.command: sudo iptables -t nat -A PREROUTING -p tcp --dport 3306 -j DNAT --to-destination 192.168.24.1:3306
      become: true
      delegate_to: primary

    - name: Slurp crc public key for ssh access to standalone
      ansible.builtin.slurp:
        path: /home/zuul/.ssh/id_rsa.pub
      register: crc_ssh_key

    - name: Place crc public key to standalone authorized_keys
      delegate_to: primary
      ansible.builtin.lineinfile:
        path: "/home/zuul/.ssh/authorized_keys"
        insertafter: "EOF"
        value: "{{ crc_ssh_key['content'] | b64decode | trim }}"

    - name: Set standalone login var controller1_ssh in secrets.yaml
      ansible.builtin.lineinfile:
        path: "{{ rdo_dir }}/secrets.yaml"
        regexp: 'controller1_ssh:'
        value: "controller1_ssh: ssh zuul@{{ standalone_ip['content'] | b64decode | trim }}"

    - name: pip install openstackclient for keystone adoption on crc
      become: true
      ansible.builtin.pip:
        name: python-openstackclient
        executable: pip3

    - name: grab the crc VM IP address
      ansible.builtin.command: crc ip
      register: crc_ip

    - name: Set etc hosts entry for keystone glance placement cinder to crc VM IP
      become: true
      ansible.builtin.lineinfile:
        path: "/etc/hosts"
        insertafter: "EOF"
        value: "{{ crc_ip.stdout }} keystone-public-openstack.apps-crc.testing glance-public-openstack.apps-crc.testing placement-public-openstack.apps-crc.testing cinder-public-openstack.apps-crc.testing"

    # FIXME: the tag and the address should ideally be calculated from definitions
    # The address should ideally be removed from the address pool available for CNI
    # for allocation.
    - name: Configure access of adoption host to internalapi network
      ansible.builtin.shell: |
        sudo ip link add link virbr0 name vlan20 type vlan id 20
        sudo ip addr add dev vlan20 172.17.0.222/24
        sudo ip link set up dev vlan20

    - name: Fetch hash and set ci_testing_hash fact for periodic
      when: "'periodic' in zuul.job or (force_periodic|default(false)|bool)"
      block:
        - name: Fetch latest c9/antelope podified-ci-testing from dlrn
          ansible.builtin.uri:
            url: https://trunk.rdoproject.org/centos9-antelope/podified-ci-testing/delorean.repo.md5
            return_content: true
          register: latest_podified_ci_testing
          until: latest_podified_ci_testing.status == 200
          retries: 6
          delay: 5

        - name: Insert vars needed for periodic job into test vars.yaml
          ansible.builtin.blockinfile:
            path: "{{ rdo_dir }}/vars.yaml"
            block: |
              periodic: true
              container_registry: quay.rdoproject.org
              container_namespace: podified-antelope-centos9
              container_tag: {{ latest_podified_ci_testing.content }}

    - name: Run data-plane-adoption tests
      # tbr
      ignore_errors: yes
      community.general.make:
        chdir: "{{ dpa_dir }}"
        target: test-minimal
        params:
          TEST_CONFIG: "{{ rdo_dir }}/ansible.cfg"
          TEST_SECRETS: "{{ rdo_dir}}/secrets.yaml"
          TEST_VARS: "{{ rdo_dir }}/vars.yaml"
          TEST_INVENTORY: "tests/inventory.sample-crc-vagrant.yaml"
      register: make_res
      failed_when: '"failed=0" not in "{{ make_res.stdout_lines[-1:] }}"'
