# Adopted OpenStack admin password. Matching the install_yamls default
# to reduce developer confusion.
admin_password: 12345678

# Command to login to OpenShift
oc_login_command: |
  oc login -u kubeadmin -p 123456789
# DB root passwords. External needs to be set based on the original
# environment, podified can be customized, it matches the
# install_yamls default to reduce developer confusion.
external_db_root_password: CUSTOMIZE_THIS
podified_db_root_password: 12345678

# Service account passwords (not DB passwords).
cinder_password: CUSTOMIZE_THIS
glance_password: CUSTOMIZE_THIS
ironic_password: CUSTOMIZE_THIS
neutron_password: CUSTOMIZE_THIS
nova_password: CUSTOMIZE_THIS
octavia_password: CUSTOMIZE_THIS
placement_password: CUSTOMIZE_THIS

# Controller SSH connection strings for the MariaDB copy procedure.
# Use ":" for controler 2 and 3 if you are testing with a single controller.
controller1_ssh: "ssh -F ~/director_stanalone/vagrant_ssh_config vagrant@standalone"  # CUSTOMIZE THIS
controller2_ssh: ":"
controller3_ssh: ":"

# virsh --connect=qemu:///system -q domifaddr standalone | awk 'NF>1{print $NF}' | cut -d/ -f1
# install_yamls default: 192.168.122.100
edpm_node_ip: CUSTOMIZE_THIS

# Ensure vagrant private key works for root
# ssh -F ~/director_standalone/vagrant_ssh_config vagrant@standalone sudo cp .ssh/authorized_keys /root/.ssh/authorized_keys
# path to the vagrant private key:
# ~/director_standalone/.vagrant/machines/standalone/libvirt/private_key
# install_yamls default: ~/install_yamls/out/edpm/ansibleee-ssh-key-id_rsa
edpm_privatekey_path: ~/director_standalone/.vagrant/machines/standalone/libvirt/private_key  # CUSTOMIZE_THIS
