---
- hosts: controller
  gather_facts: false
  tasks:
    - name: Return Zuul log artifacts for data plane adoption jobs
      zuul_return:
        data:
          zuul:
            artifacts:
              - name: make / test playbook output
                url: controller/data-plane-adoption-tests-repo/data-plane-adoption/tests/logs/
              - name: secrets.yaml passed to the test playbook
                url: controller/data-plane-adoption-tests-repo/data_plane_adoption/secrets.yaml
              - name: vars.yaml passed to the test playbook
                url: controller/data-plane-adoption-tests-repo/data_plane_adoption/vars.yaml
              - name: Podified control plane - pod status summary
                url: controller/ci-framework-data/logs/openstack-k8s-operators-openstack-must-gather/namespaces/openstack/all_resources.log
              - name: Podified control plane - pod logs
                url: controller/ci-framework-data/logs/openstack-k8s-operators-openstack-must-gather/namespaces/openstack/pods/
              - name: standalone deployment logs
                url: standalone/
              - name: ci-framework logs
                url: controller/ci-framework-data/logs/
