- hosts: controller
  vars:
    framework_dir: "/home/zuul/src/github.com/openstack-k8s-operators/ci-framework"

    rdo_dir: "/home/zuul/src/review.rdoproject.org/rdo-jobs/playbooks/data_plane_adoption"
  tasks:
    - name: Initialize OC Credentials
      ansible.builtin.include_role:
        name: rhol_crc
        tasks_from: add_crc_creds.yml

    - name: Prepare ci-framework environment
      ansible.builtin.shell:
        cmd: |
          ansible-galaxy collection install community.general
          ansible-playbook ci_framework/playbooks/01-bootstrap.yml --tags bootstrap
        chdir: "{{ framework_dir }}"

    - name: Run install_yamls via ci-framework
      ansible.builtin.shell: |
          ansible-playbook {{ rdo_dir }}/ci_framework_install_yamls.yaml
      args:
        chdir: "{{ framework_dir }}"
