- hosts: undercloud
  vars:
    rdo_dir: "review.rdoproject.org/rdo-jobs/playbooks/data_plane_adoption"
  tasks:
    - name: Fetch ansible hostnames from the controllers
      delegate_to: "overcloud-{{ item }}"
      ansible.builtin.slurp:
        path: /home/zuul/ansible_hostname
      register: "tripleo_hostnames"
      with_items:
        - controller-0
        - controller-1
        - controller-2
        - novacompute-0

    - name: Template out hostnamemap with tripleo hostnames
      ansible.builtin.template:
        src: "{{ zuul.executor.src_root }}/{{ rdo_dir }}/files/hostnamemap.yaml.j2"
        dest: /home/zuul/hostnamemap.yaml
      vars:
        controller_0_hostname: "{{ tripleo_hostnames.results[0]['content'] | b64decode | trim }}"
        controller_1_hostname: "{{ tripleo_hostnames.results[1]['content'] | b64decode | trim }}"
        controller_2_hostname: "{{ tripleo_hostnames.results[2]['content'] | b64decode | trim }}"
        compute_0_hostname: "{{ tripleo_hostnames.results[3]['content'] | b64decode | trim }}"
