- hosts: controller
  tasks:
    - name: Print the current CRC version
      ansible.builtin.shell: |
        crc version

    - name: Initialize OC Credentials
      ansible.builtin.include_role:
        name: add_crc_creds

    - name: Deploy podified control plane using install_yamls
      vars:
        namespace: openstack
        run_openstack_deploy_prep: true
        run_input: true
        openstack_repo: "{{ ansible_user_dir }}/src/github.com/openstack-k8s-operators/openstack-operator"
        network_isolation: false
        run_crc_storage: true
        retry_crc_storage: true
        command_after_run_crc_storage: |
          sleep 100
        run_script: true
      ansible.builtin.include_role:
        name: use_install_yamls

    - name: Add additional sleep in order to finish the deploy
      ansible.builtin.shell: |
        sleep 200
      args:
        executable: /bin/bash
