# NOTE(bogdando): these values are suit a single-cell standalone setup.
# Multinode/multi-cell jobs provide custom values via templating it in
# playbooks/data_plane_adoption/*_tests.yaml (or directly, in a job vars)

# Path to install_yamls repo
install_yamls_path: /home/zuul/src/github.com/openstack-k8s-operators/install_yamls/

# This flag signifies if TLS Everywhere is enabled on the source cloud
enable_tlse: CUSTOMIZE_THIS

# This flag signifies if the tests should create a barbican secret before
# adoption to check it after the adoption
prelaunch_barbican_secret: CUSTOMIZE_THIS

# To enable TLS-E, the standalone hostname must be set to standalone.ooo.test
edpm_node_hostname: CUSTOMIZE_THIS
edpm_node_networker_hostname: CUSTOMIZE_THIS

# Whether to remove all the persistent data (databases, dumbs, ansible logs)
# before the test
reset_crc_storage: true

# source SC for the local-storage SC to be created from it
storage_class_name: crc-csi-hostpath-provisioner  # CUSTOMIZE_THIS
storage_reclaim_policy: Delete  # or Retain

# Snippet to get the desired 'oc' command onto $PATH.
oc_header: ''

# External MariaDB IP for DB exports.
source_mariadb_ip:
  default: 172.17.0.100

source_galera_members:
  default:
    - name: standalone.localdomain
      ip: 172.17.0.100

edpm_nodes:
  cell1:
    standalone:
      hostName: standalone.localdomain
      ansible:
        ansibleHost: 192.168.122.100
      networks:
        - defaultRoute: true
          fixedIP: 192.168.122.100
          name: ctlplane
          subnetName: subnet1
        - name: internalapi
          subnetName: subnet1
        - name: storage
          subnetName: subnet1
        - name: tenant
          subnetName: subnet1
        - name: storagemgmt
          subnetName: subnet1

cells:
  - default

default_cell_name: cell1

# virsh --connect=qemu:///system -q domifaddr standalone | awk 'NF>1{print $NF}' | cut -d/ -f1
# install_yamls default: 192.168.122.100
edpm_node_ip: CUSTOMIZE_THIS
edpm_node_networker_ip: CUSTOMIZE_THIS

# Auth URL to use for adopted Keystone.
auth_url: http://keystone-public-openstack.apps-crc.testing

# Set verbose logging for CI jobs (no secrets here)
use_no_log: false

# Adopt source cloud with additional compute cells v2
multi_cell: false

run_pre_adoption_validation: true

os_cloud_name: overcloud

# Optional test
neutron_qe_test: CUSTOMIZE_THIS
neutron_qe_dir: CUSTOMIZE_THIS
