# Path to install_yamls repo
install_yamls_path: /home/zuul/src/github.com/openstack-k8s-operators/install_yamls/
# Whether to remove all the persistent data (databases, dumbs, ansible logs)
# before the test
reset_crc_storage: true

# source SC for the local-storage SC to be created from it
storage_class_name: crc-csi-hostpath-provisioner #CUSTOMIZE_THIS
storage_reclaim_policy: Delete # or Retain
#
# Snippet to get the desired 'oc' command onto $PATH.
oc_header: ''

# External MariaDB IP for DB exports.
source_mariadb_ip: CUSTOMIZE_THIS

# virsh --connect=qemu:///system -q domifaddr standalone | awk 'NF>1{print $NF}' | cut -d/ -f1
# install_yamls default: 192.168.122.100
edpm_node_ip: CUSTOMIZE_THIS

# Auth URL to use for adopted Keystone.
auth_url: http://keystone-public-openstack.apps-crc.testing

# Set verbose logging for CI jobs (no secrets here)
use_no_log: false
