- hosts: all
  name: Autoconverted job legacy-weirdo-validate-buildsys-tags from old job weirdo-validate-buildsys-tags
  tasks:

    - name: Ensure legacy workspace directory
      file:
        path: '{{ ansible_user_dir }}/workspace'
        state: directory

    - shell:
        cmd: |
          echo "[DEBUG]: JJB template name: {template-name}"

          # If this is called in a periodic job, these will not be set
          echo "Use default for ZUUL_BRANCH and ZUUL_REF if needed"
          export ZUUL_BRANCH=${ZUUL_BRANCH:-master}
          export ZUUL_REF=${ZUUL_REF:-None}

          # In the post pipeline ZUUL_REF is master but does not behave as we want
          # So fall back on None
          [ "$ZUUL_REF" = "master" ] && ZUUL_REF=None
          echo "Clean workspace"
          rm -Rf ./*

          echo "Clone $ZUUL_PROJECT"
          # zuul-cloner is installed as /usr/zuul-env/bin/zuul-cloner
          # in upstream images
          export PATH=$PATH:/usr/zuul-env/bin

          # Note (dmsimard): If we are running for a periodic job, there is no
          # incentive in using Zuul cloner because the jobs are not going to
          # potentially depend on things from the zuul context (ex: depends-on)
          # The zuul git namespace (where the job was triggered from) is also
          # wonky for periodic jobs. A periodic pipeline targetted at an
          # upstream project would still end up trying to clone from review.rdo.
          # This should be revisited in Zuul v3 which is supposedly not a
          # problem

          # We can receive reviews from review.openstack.org.
          # Builds that are run as third party for review.o.o are in the Zuul
          # pipelines prefixed by "openstack-".
          GIT_SOURCE="https://review.rdoproject.org/r"
          if [[ "${ZUUL_PIPELINE}" =~ "openstack-" ]]; then
              GIT_SOURCE="https://git.openstack.org"
          fi

          git config --global http.postBuffer 524288000
          git config --global https.postBuffer 524288000

          if [[ "${ZUUL_PIPELINE}" =~ "periodic" ]]; then
          # Note (trown): we need to make sure we clone this to the same
          # location as zuul-cloner will so that manual and periodic jobs
          # can share builders
              git clone --depth=1 $GIT_SOURCE/$ZUUL_PROJECT $ZUUL_PROJECT
          else
              /usr/zuul-env/bin/zuul-cloner -v $GIT_SOURCE $ZUUL_PROJECT
          fi
        chdir: '{{ ansible_user_dir }}/workspace'
      environment: '{{ zuul | zuul_legacy_vars }}'

    - name: Set WEIRDO_TOKEN_FILE fact
      set_facts:
        WEIRDO_TOKEN_FILE: "{{ ansible_user_dir }}/.weirdo-token"

    - name: Copy weirdo-token content
      copy:
        content: "{{ weirdo_token.token }}"
        dest: "{{ WEIRDO_TOKEN_FILE }}"
        mode: 0400
      no_log: True

    - shell:
        cmd: |
          set -e -x
          export WEIRDO_TOKEN_FILE="{{ WEIRDO_TOKEN_FILE }}"
          /usr/zuul-env/bin/zuul-cloner http://review.rdoproject.org/r \
            rdo-infra/releng
          virtualenv --system-site-packages .venv
          . .venv/bin/activate
          pushd rdo-infra/releng
          pip install .
          popd
          export PARENT_JOB="validate-buildsys-tags"
          git clone http://review.rdoproject.org/r/gating_scripts
          pushd gating_scripts/buildsys-tags
          # NOTE(pabelanger): Override logs for zuulv3 jobs.
          if [[ -d /home/zuul ]]; then
              export logs={{ buildset_artifacts_url }}
          fi
          bash -x ./launch_weirdo_jobs.sh
          popd
        chdir: '{{ ansible_user_dir }}/workspace'
      environment: '{{ zuul | zuul_legacy_vars }}'

    - name: Copy weirdo-token content
      file:
        path: "{{ WEIRDO_TOKEN_FILE }}"
        state: absent
      no_log: True
