---
- name: Deploy the Ceph Pod
  community.general.make:
    chdir: "{{ ansible_user_dir }}/src/github.com/openstack-k8s-operators/install_yamls"
    target: ceph
    params:
      TIMEOUT: 90

- name: Update kustomization.yaml file
  ansible.builtin.shell: |
    cat <<EOF >{{ ansible_user_dir }}/src/github.com/openstack-k8s-operators/install_yamls/out/openstack/openstack/cr/kustomization.yaml
    apiVersion: kustomize.config.k8s.io/v1beta1
    kind: Kustomization
    resources:
    - ./core_v1beta1_openstackcontrolplane_network_isolation.yaml
    namespace: openstack
    patches:
    - patch: |-
        - op: replace
          path: /spec/secret
          value: osp-secret
        - op: replace
          path: /spec/storageClass
          value: "local-storage"
        - op: add
          path: /spec/extraMounts
          value:
            - name: v1
              region: r1
              extraVol:
              - propagation:
                - Glance
                - volume1
                - CinderBackup
                extraVolType: Ceph
                volumes:
                - name: ceph
                  projected:
                    sources:
                    - secret:
                        name: ceph-conf-files
                mounts:
                - name: ceph
                  mountPath: "/etc/ceph"
                  readOnly: true
        - op: add
          path: /spec/cinder/template/cinderVolumes/volume1/customServiceConfig
          value: |
                [DEFAULT]
                enabled_backends=ceph
                [ceph]
                volume_backend_name=ceph
                volume_driver=cinder.volume.drivers.rbd.RBDDriver
                rbd_ceph_conf=/etc/ceph/ceph.conf
                rbd_user=openstack
                rbd_pool=volumes
                rbd_flatten_volume_from_snapshot=False
                report_discard_supported=True
                backend_host=hostgroup
                rbd_secret_uuid=FSID
        - op: add
          path: /spec/cinder/template/cinderBackup/customServiceConfig
          value: |
                [DEFAULT]
                backup_driver = cinder.backup.drivers.ceph.CephBackupDriver
                backup_ceph_pool = backups
                backup_ceph_user = openstack
        - op: add
          path: /spec/glance/template/customServiceConfig
          value: |
                [DEFAULT]
                debug = true
                enabled_backends=default_backend:rbd
                [glance_store]
                default_backend=default_backend
                [default_backend]
                rbd_store_ceph_conf=/etc/ceph/ceph.conf
                rbd_store_user=openstack
                rbd_store_pool=images
                store_description=ceph_glance_store
      target:
        kind: OpenStackControlPlane
    EOF

- name: Update FSID
  ansible.builtin.shell: |
    FSID=$(oc get secret ceph-conf-files -o json | jq -r '.data."ceph.conf"' | base64 -d | grep fsid | awk 'BEGIN { FS = "=" } ; { print $2 }' | xargs)
    sed -i {{ ansible_user_dir }}/src/github.com/openstack-k8s-operators/install_yamls/out/openstack/openstack/cr/kustomization.yaml -e s/FSID/$FSID/g
    cat {{ ansible_user_dir }}/src/github.com/openstack-k8s-operators/install_yamls/out/openstack/openstack/cr/kustomization.yaml
