---
{% if cifmw_test_operator_tempest_image is defined %}
cifmw_test_operator_tempest_image: {{ cifmw_test_operator_tempest_image }}
{% endif %}
{% if cifmw_test_operator_tempest_image_tag is defined %}
cifmw_test_operator_tempest_image_tag: {{ cifmw_test_operator_tempest_image_tag }}
{% endif %}
{% if cifmw_test_operator_timeout is defined %}
cifmw_test_operator_timeout: {{ cifmw_test_operator_timeout }}
{% endif %}
{% if cifmw_test_operator_tempest_container is defined %}
cifmw_test_operator_tempest_container: {{ cifmw_test_operator_tempest_container }}
{% endif %}
{% if cifmw_test_operator_tempest_include_list is defined %}
cifmw_test_operator_tempest_include_list: |
{{ cifmw_test_operator_tempest_include_list | to_nice_yaml }}
{% endif %}
{%- if exclude_list is defined -%}
cifmw_test_operator_tempest_exclude_list: |
{{ exclude_list }}
{%- endif -%}
{% if cifmw_test_operator_default_groups is defined %}
cifmw_test_operator_default_groups:
    {{ cifmw_test_operator_default_groups }}
{% endif %}
{% if cifmw_test_operator_default_jobs is defined %}
cifmw_test_operator_default_jobs:
    {{ cifmw_test_operator_default_jobs }}
{% endif %}
{% if cifmw_test_operator_tempest_tests_exclude_override_scenario is defined %}
cifmw_test_operator_tempest_tests_exclude_override_scenario: {{ cifmw_test_operator_tempest_tests_exclude_override_scenario }}
{% endif %}
{% if cifmw_test_operator_tempest_workflow is defined %}
cifmw_test_operator_tempest_workflow: {{ cifmw_test_operator_tempest_workflow }}
{% endif %}
{% if cifmw_test_operator_concurrency is defined %}
cifmw_test_operator_concurrency: {{ cifmw_test_operator_concurrency }}
{% endif %}
{% if cifmw_test_operator_tempest_network_attachments is defined %}
cifmw_test_operator_tempest_network_attachments: {{ cifmw_test_operator_tempest_network_attachments }}
{% endif %}
{% if cifmw_test_operator_tempest_extra_images is defined %}
cifmw_test_operator_tempest_extra_images: {{ cifmw_test_operator_tempest_extra_images }}
{% endif %}
{% if cifmw_test_operator_tempest_external_plugin is defined %}
cifmw_test_operator_tempest_external_plugin: {{ cifmw_test_operator_tempest_external_plugin }}
{% endif %}
{% if cifmw_test_operator_tobiko_workflow is defined %}
cifmw_test_operator_tobiko_workflow: {{ cifmw_test_operator_tobiko_workflow }}
{% endif %}
{% if cifmw_tempest_tempestconf_config is defined %}
cifmw_tempest_tempestconf_config: {{ cifmw_tempest_tempestconf_config }}
{% endif %}
{% if cifmw_run_tobiko is defined %}
cifmw_run_tobiko: {{ cifmw_run_tobiko }}
{% endif %}
{% if cifmw_block_device_size is defined %}
cifmw_block_device_size: {{ cifmw_block_device_size }}
{% endif %}

