---
cifmw_polarion_fqdn: "{{ cifmw_polarion_fqdn }}"
cifmw_polarion_stage_fqdn: "{{ cifmw_polarion_stage_fqdn }}"
cifmw_polarion_testrun_id: "{{ cifmw_polarion_testrun_id }}"
cifmw_polarion_jump_repo_url: "{{ cifmw_polarion_jump_repo_url }}"
cifmw_polarion_jump_result_dir: "{{ cifmw_polarion_jump_result_dir }}"
cifmw_polarion_use_stage: "{{ cifmw_polarion_use_stage }}"
