---
cifmw_test_operator_tempest_image: "{{ cifmw_test_operator_tempest_image }}"
cifmw_test_operator_tempest_image_tag: "{{ cifmw_test_operator_tempest_image_tag }}"
cifmw_test_operator_timeout: {{ cifmw_test_operator_timeout }}
cifmw_test_operator_tempest_container: "{{cifmw_test_operator_tempest_container}}"
cifmw_test_operator_tempest_include_list: "{{cifmw_test_operator_tempest_include_list}}"
