---
{% if exclude_list is defined %}
cifmw_test_operator_tempest_exclude_list: |
{{ exclude_list }}
{%- endif -%}
{% if cifmw_test_operator_tempest_image_tag is defined %}
cifmw_test_operator_tempest_image_tag: {{ cifmw_test_operator_tempest_image_tag }}
{% elif (dlrn_hash_tag is defined) or (latest_dlrn_tag is defined and "content" in latest_dlrn_tag) %}
cifmw_test_operator_tempest_image_tag: "{{ dlrn_hash_tag | default(latest_dlrn_tag.content) }}"
{% endif %}
