---
{% if cifmw_polarion_fqdn is defined %}
cifmw_polarion_fqdn: "{{ cifmw_polarion_fqdn }}"
{% endif %}
{% if cifmw_polarion_stage_fqdn is defined %}
cifmw_polarion_stage_fqdn: "{{ cifmw_polarion_stage_fqdn }}"
{% endif %}
{% if cifmw_polarion_testrun_id is defined %}
cifmw_polarion_testrun_id: "{{ cifmw_polarion_testrun_id }}"
{% endif %}
{% if cifmw_polarion_testrun_template_id is defined %}
cifmw_polarion_testrun_template_id: "{{ cifmw_polarion_testrun_template_id }}"
{% endif %}
{% if cifmw_polarion_jump_repo_url is defined %}
cifmw_polarion_jump_repo_url: "{{ cifmw_polarion_jump_repo_url }}"
{% endif %}
{% if cifmw_polarion_jump_result_dir is defined %}
cifmw_polarion_jump_result_dir: "{{ cifmw_polarion_jump_result_dir }}"
{% endif %}
{% if cifmw_polarion_update_testcases is defined %}
cifmw_polarion_update_testcases: "{{ cifmw_polarion_update_testcases }}"
{% endif %}
