{% if cifmw_repo_setup_promotion is defined %}
cifmw_repo_setup_promotion: "{{ cifmw_repo_setup_promotion  }}"
{% endif %}
{% if cifmw_repo_setup_branch is defined %}
cifmw_repo_setup_branch: "{{ cifmw_repo_setup_branch  }}"
{% endif %}
{% if cifmw_repo_setup_dlrn_uri is defined %}
cifmw_repo_setup_dlrn_uri: "{{ cifmw_repo_setup_dlrn_uri  }}"
{% endif %}
{% if cifmw_repo_setup_os_release is defined %}
cifmw_repo_setup_os_release: "{{ cifmw_repo_setup_os_release  }}"
{% endif %}
{% if cifmw_repo_setup_enable_rhos_release is defined %}
cifmw_repo_setup_enable_rhos_release: "{{ cifmw_repo_setup_enable_rhos_release  }}"
{% endif %}
{% if cifmw_repo_setup_rhos_release_rpm is defined %}
cifmw_repo_setup_rhos_release_rpm: "{{ cifmw_repo_setup_rhos_release_rpm  }}"
{% endif %}
{% if cifmw_repo_setup_rhos_release_args is defined %}
cifmw_repo_setup_rhos_release_args: "{{ cifmw_repo_setup_rhos_release_args  }}"
{% endif %}
{% if cifmw_repo_setup_dist_major_version is defined %}
cifmw_repo_setup_dist_major_version: "{{ cifmw_repo_setup_dist_major_version  }}"
{% endif %}
{% if cifmw_repo_setup_env %}
cifmw_repo_setup_env: "{{ cifmw_repo_setup_env  }}"
{% endif %}
