parameter_defaults:
  HostnameMap:
    overcloud-controller-0: "{{ tripleo_controller_0_hostname }}"
    overcloud-controller-1: "{{ tripleo_controller_1_hostname }}"
    overcloud-controller-2: "{{ tripleo_controller_2_hostname }}"
