---
parameter_defaults:
  HostnameMap:
    overcloud-controller-0: "{{ controller_0_hostname }}"
    overcloud-controller-1: "{{ controller_1_hostname | default('') }}"
    overcloud-controller-2: "{{ controller_2_hostname | default('') }}"
    overcloud-novacompute-0: "{{ compute_0_hostname }}"
    overcloud-novacompute-1: "{{ compute_1_hostname | default('') }}"
    overcloud-novacompute-2: "{{ compute_2_hostname | default('') }}"
