---
parameter_defaults:
  HostnameMap:
    overcloud-controller-0: "{{ controller_0_hostname }}"
    overcloud-controller-1: "{{ controller_1_hostname }}"
    overcloud-controller-2: "{{ controller_2_hostname }}"
    overcloud-novacompute-0: "{{ compute_0_hostname }}"
    overcloud-novacompute-1: "{{ compute_1_hostname }}"
    overcloud-networker-0: "{{ networker_0_hostname }}"
    overcloud-networker-1: "{{ networker_1_hostname }}"
