---
- hosts: primary
  roles:
    - ensure-skopeo
  vars:
    ceph_latest_namespace: "{{ ceph_daemon_latest_tag_namespace | default('quay.io/ceph')}}"
    ceph_latest_image: "{{ ceph_daemon_latest_tag_image | default('daemon')}}"
    ceph_latest_regex: "{{ ceph_daemon_latest_tag_regex | default('^v(\\d+\\.\\d+\\.\\d+).*stable.*x86_64$') }}"
  tasks:
    - name: Install jq to parse list-tags output
      become: true
      package:
        name:
          - jq
        state: present

    - name: Get latest tag from ceph namespace
      vars:
        select_tags: 'select(.|test("{{ ceph_latest_regex }}")?)'
        sort_by_semantic_version: 'sort_by(match("{{ ceph_latest_regex }}").captures[0].string|split(".")|map(tonumber))'
      shell: >-
        skopeo list-tags docker://"{{ ceph_latest_namespace }}/{{ ceph_latest_image }}" |  jq -r '[.Tags[] | {{ select_tags }}] | {{ sort_by_semantic_version }} | last'
      retries: 3
      register: result
      until: result is success

    - set_fact:
        ceph_daemon_latest_tag: "{{ result.stdout }}"

    - debug:
        msg: "Ceph daemon tag found: {{ ceph_daemon_latest_tag }}"

    - name: Set registry IP address
      zuul_return:
        data:
          docker_ceph_namespace: "{{ ceph_latest_namespace }}"
          docker_ceph_image: "{{ ceph_latest_image }}"
          docker_ceph_tag: "{{ ceph_daemon_latest_tag }}"
          promote_ceph_tag: "{{ ceph_daemon_latest_tag }}"
