---
- hosts: all
  # Avoid confusing POST_FAILURE when job already failed in `run`, as we want
  # to run as much of `post` as possible.
  ignore_errors: not (zuul_success | bool)
  vars:
    logs: "{{ ansible_user_dir }}/logs"
  tasks:

    - name: Copy the artifact
      become: true
      synchronize:
        src: "{{ ansible_user_dir }}/{{ zuul.projects['github.com/containers/libpod'].src_dir }}/build/buildset/"
        dest: "{{ zuul.executor.log_root }}/buildset"
        mode: pull
        verify_host: true

    - name: Ensure logs directory exists
      file:
        path: "{{ logs }}"
        state: directory

    - name: Create rpm list
      become: true
      shell: >-
        $(command -v yum || command -v dnf) list installed > {{ logs }}/rpms-list.txt
      ignore_errors: true
      changed_when: true

    - name: Chown all logs to user
      file:
        path: "{{ logs }}"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        recurse: true
      become: true
      changed_when: true

    - name: Copy all logs
      become: true
      synchronize:
        src: "{{ logs }}/"
        dest: "{{ zuul.executor.log_root }}/logs"
        mode: pull
        verify_host: true
      ignore_errors: true
