---
- hosts: all
  tasks:
    - name: Enable RHUI repository
      become: true
      when:
        - ansible_distribution_major_version >= "8"
        - ansible_distribution == "RedHat"
      shell: |
        set -euox pipefail
        dnf config-manager --enable rhui-*
        dnf makecache
        dnf repolist
      changed_when: true

    - name: Enable EPEL for Centos-7
      when:
        - ansible_distribution_major_version == "7"
        - ansible_distribution == "CentOS"
      block:

        - name: Enable EPEL
          become: true
          package:
            name: epel-release

        # CI images may have epel-release pre-installed but disabled!
        - name: Enable EPEL
          become: true
          command: yum-config-manager --enable epel

    - name: Install pre-requisites
      become: true
      package:
        name:
          - createrepo
          - golang
          - redhat-rpm-config
          - rpmdevtools
        state: present
