---
- hosts: all
  tasks:
    - name: Enable RHUI repository
      become: true
      when:
        - ansible_distribution_major_version >= "8"
        - ansible_distribution == "RedHat"
      shell: |
        set -o pipefail
        set -x
        dnf config-manager --enable rhui-*
        dnf makecache
        dnf repolist
        rpm -qa | grep rhui
      changed_when: true

    - name: Enable EPEL for Centos-7
      when:
        - ansible_distribution_major_version == "7"
        - ansible_distribution == "CentOS"
      block:

        - name: Enable EPEL
          become: true
          package:
            name: epel-release

        # CI images may have epel-release pre-installed but disabled!
        - name: Enable EPEL
          become: true
          command: yum-config-manager --enable epel

    - name: Enable CentOS release stream for Centos-8
      become: true
      package:
        name: centos-release-stream
        state: present
      when:
        - ansible_distribution_major_version == "8"
        - ansible_distribution == "CentOS"

    - name: Workaround for missing btrfs/ioctl.h
      when:
        - ansible_distribution_major_version >= "8"
        - ansible_distribution in ["CentOS", "RedHat"]
      become: true
      shell:
        cmd: |
          set -ex
          rpm --import https://www.elrepo.org/RPM-GPG-KEY-elrepo.org
          yum install -y https://www.elrepo.org/elrepo-release-8.el8.elrepo.noarch.rpm
          yum-config-manager --enable elrepo-testing
          yum install -y btrfs-progs-devel
      # WARNING: Before asking about pure ansible approach, feel free to update the PR yourself
      # NOTE: This code should not be part of the CI/CD job definition, it
      # should be taken care by libpod Makefile.

      # Note(chkumar): Once https://github.com/containers/libpod/issues/6226
      # get fixed, remove it
    - name: workaround for Fedora 31 podman version
      when: ansible_distribution is "Fedora"
      become: true
      package:
        name: crun
        state: present

    - name: Install pre-requisites
      become: true
      package:
        name:
          - createrepo
          - golang
          - redhat-rpm-config
          - rpmdevtools
        state: present
