#!/bin/bash

set -ex

cat <<EOF >{{ ansibleee_secret_file }}
apiVersion: v1
kind: Secret
namespace: openstack
metadata:
    name: {{ ansibleee_secret_name }}
data:
    private_ssh_key: |
$(cat {{ external_compute_private_key_file }} | base64 | sed 's/^/        /')
EOF

oc apply -f {{ ansibleee_secret_file }}
