- hosts: all
  tasks:
    - block:
        - include_role: name=prepare-workspace
      when: "ansible_connection != 'kubectl'"
    - block:
        - include_role: name=prepare-workspace-openshift
      run_once: true
      when: "ansible_connection == 'kubectl'"

    - import_role: name=ensure-output-dirs
      when: ansible_user_dir is defined

    - name: Check if worker can sudo
      command: sudo -n true
      failed_when: false
      changed_when: false
      register: _worker_is_sudoer

    - import_role:
        name: configure-mirrors
      vars:
        mirror_fqdn: "mirror.{{ nodepool.region | lower }}.{{ nodepool.cloud | lower }}.rdoproject.org"
      when:
        - ansible_connection != 'kubectl'
        - _worker_is_sudoer.rc == 0
        - ansible_distribution != "Fedora" or (ansible_distribution == "Fedora" and ansible_distribution_major_version|int > 28)
        - ansible_connection != 'kubectl'
