- hosts: all
  tasks:
    - block:
        - include_role: name=prepare-workspace
      when: "ansible_connection != 'kubectl'"

    - import_role: name=ensure-output-dirs
      when: ansible_user_dir is defined

    - name: Check if worker can sudo
      command: sudo -n true
      failed_when: false
      changed_when: false
      register: _worker_is_sudoer

    - name: Use vexxhost nameserver
      become: true
      when: nodepool.cloud in ["vexxhost-nodepool-tripleo"]
      shell: |
        echo "nameserver {{ item }}" >> /etc/resolv.conf
      with_items:
        - 38.102.83.3
        - 38.102.83.2
        - 38.102.83.68


    - import_role:
        name: configure-mirrors
      vars:
        mirror_fqdn: "mirror.{{ nodepool.region | lower }}.{{ nodepool.cloud | lower }}.rdoproject.org"
        configure_mirrors_components_9_stream:
          baseos: true
          baseos-debug: false
          baseos-source: false
          appstream: true
          appstream-debug: false
          appstream-source: false
          crb: true
          crb-debug: false
          crb-source: false
          highavailability: true
          highavailability-debug: false
          highavailability-source: false
          nfv: true
          nfv-debug: true
          nfv-source: false
          rt: true
          rt-debug: false
          rt-source: false
          resilientstorage: true
          resilientstorage-debug: false
          resilientstorage-source: false
          extras-common: true
          extras-common-source: false
      when:
        - ansible_connection != 'kubectl'
        - _worker_is_sudoer.rc == 0
        - ansible_distribution != "Fedora" or (ansible_distribution == "Fedora" and ansible_distribution_major_version|int > 28)
