- hosts: all
  roles:
    - role: prepare-workspace
  tasks:
    - name: Check if worker can sudo
      command: sudo -n true
      failed_when: false
      changed_when: false
      register: _worker_is_sudoer

    - import_role:
        name: mirror-info-fork
      vars:
        mirror_fqdn: "mirror.{{ nodepool.region | lower }}.{{ nodepool.cloud | lower }}.rdoproject.org"
      when:
        - _worker_is_sudoer.rc == 0
        - ansible_distribution|lower != "centos" or (ansible_distribution|lower == "centos" and ansible_distribution_major_version|int < 8)

    - import_role:
        name: configure-mirrors
      vars:
        mirror_fqdn: "mirror.{{ nodepool.region | lower }}.{{ nodepool.cloud | lower }}.rdoproject.org"
      when:
        - _worker_is_sudoer.rc == 0
        - ansible_distribution|lower != "centos" or (ansible_distribution| == "centos" and ansible_distribution_major_version|int < 8)
