---
# Tasks to create Proteccio HSM secrets for Barbican adoption
# These secrets must exist before the data-plane-adoption tests run

- name: Display Barbican HSM secrets being created
  ansible.builtin.debug:
    msg: "Creating Proteccio HSM secrets for RHOSO 18 Barbican adoption"

# The pre-deploy playbook created some secrets for barbican but these are removed when the deployment
# starts. Fortunately, the directory used to generate the secrets still exists and contains the
# files needed to create the secrets

- name: Create the hsm login secret
  ansible.builtin.command: oc apply -f /tmp/hsm-prep-working-dir/login_secret.yml
  register: hsm_login_secret_result
  changed_when: "'created' in hsm_login_secret_result.stdout or 'configured' in hsm_login_secret_result.stdout"

- name: Create the proteccio data secret
  ansible.builtin.command: oc apply -f /tmp/hsm-prep-working-dir/proteccio_data_secret.yml
  register: proteccio_data_secret_result
  changed_when: "'created' in proteccio_data_secret_result.stdout or 'configured' in proteccio_data_secret_result.stdout"

- name: Set fact for adoption tests
  ansible.builtin.set_fact:
    barbican_hsm_enabled: true
