---
# Tasks to prepare RHOSO 18 Barbican with Proteccio HSM support
# This should be executed after CRC/OpenShift is deployed and before adoption tests run

- name: Display Barbican backend being used
  ansible.builtin.debug:
    msg: "Preparing RHOSO 18 Barbican with PKCS11/Proteccio backend to match OSP 17.1 configuration"

# The pre-deploy playbook created some secrets for barbican but these are removed when the deployment
# starts.  Fortunately, the directory used to generate the secrets still exists and contains the
# files needed to create the secrets

- name: Create the hsm login secret
  ansible.builtin.command: oc apply -f /tmp/hsm-prep-working-dir/login_secret.yml

- name: Create the proteccio data secret
  ansible.builtin.command: oc apply -f /tmp/hsm-prep-working-dir/proteccio_data_secret.yml

# The pre-deploy playbook also created the custom barbican images in the local podman repo.
#  We can patch openstackversion to use this custom image
- name: Create a patch file to use the custom barbican images
  vars:
    registry_ip: "{{ content_provider_registry_ip }}:5001"
    image_ns: "{{ cifmw_update_containers_org | default('podified-antelope-centos9') }}"
    image_api_name: "{{ cifmw_barbican_dest_api_image_name }}"
    image_worker_name: "{{ cifmw_barbican_dest_worker_image_name }}"
    image_tag: "{{ cifmw_update_containers_barbican_custom_tag }}"
  ansible.builtin.copy:
    mode: '0644'
    dest: "/home/zuul/barbican-image.patch"
    content: |
      spec:
        customContainerImages:
          barbicanAPIImage: "{{ registry_ip }}/{{ image_ns }}/{{ image_api_name }}:{{ image_tag }}"
          barbicanWorkerImage: "{{ registry_ip }}/{{ image_ns }}/{{ image_worker_name }}:{{ image_tag }}"

- name: Patch the openstackversion to use the custom barbican images
  ansible.builtin.command:
    cmd: oc patch openstackversion openstack -n openstack --type=merge --patch-file /home/zuul/barbican-image.patch

- name: Create a patch file for the control plane to customize barbican
  vars:
    client_data_secret: "{{ cifmw_hsm_proteccio_client_data_secret | default('barbican-proteccio-client-data', true) }}"
    login_secret: "{{ cifmw_hsm_login_secret | default('barbican-proteccio-login', true) }}"
  ansible.builtin.copy:
    mode: '0644'
    dest: "/home/zuul/barbican-proteccio.patch"
    content: |
      spec:
        barbican:
          template:
            globalDefaultSecretStore: pkcs11
            enabledSecretStores:
              - pkcs11
            pkcs11:
              loginSecret: {{ login_secret }}
              clientDataSecret: {{ client_data_secret }}
              clientDataPath: /etc/proteccio
            customServiceConfig: |
              [p11_crypto_plugin]
              plugin_name = PKCS11
              library_path = {{ cifmw_hsm_proteccio_library_path | default('/usr/lib64/libnethsm.so', true) }}
              token_labels = {{ cifmw_hsm_proteccio_partition }}
              mkek_label = {{ cifmw_hsm_mkek_label }}
              hmac_label = {{ cifmw_hsm_hmac_label }}
              encryption_mechanism = CKM_AES_CBC
              hmac_key_type = CKK_GENERIC_SECRET
              hmac_keygen_mechanism = CKM_GENERIC_SECRET_KEY_GEN
              hmac_mechanism = CKM_SHA256_HMAC
              key_wrap_mechanism = {{ cifmw_hsm_key_wrap_mechanism }}
              key_wrap_generate_iv = true
              always_set_cka_sensitive = true
              os_locking_ok = false

- name: Apply the barbican-patch
  ansible.builtin.command:
    cmd: oc patch openstackcontrolplane openstack -n openstack --type=merge --patch-file  /home/zuul/barbican-proteccio.patch

# No idea what this does or if its needed
- name: Set fact for adoption tests
  ansible.builtin.set_fact:
    barbican_hsm_enabled: true
