clouds:
  default:
    auth:
      auth_url: {{ keystone_api.stdout }}
      project_name: admin
      username: admin
      user_domain_name: Default
      project_domain_name: Default
      password: {{ os_password.stdout }}
    region_name: regionOne
