clouds:
  default:
    auth:
      auth_url: {{ keystone_api.stdout }}
      project_name: admin
      username: admin
      user_domain_name: Default
      project_domain_name: Default
      password: 12345678
    region_name: regionOne
