- hosts: all
  name: validate-buildsys-tags playbook
  tasks:
    - name: Set zuul-log-path fact
      include_role:
        name: set-zuul-log-path-fact

    - name: Setup deps repo for mock
      get_url:
        url: https://trunk.rdoproject.org/centos8-master/delorean-deps.repo
        dest: /etc/yum.repos.d/delorean-deps.repo
      become: true
      when:
        - ansible_distribution == "CentOS"
        - ansible_distribution_major_version == '8'

    - name: Validate buildsys tag updates
      shell:
        cmd: |
          set -e -x
          # Install requirements
          YUM="{{ ansible_pkg_mgr }}"
          sudo $YUM install -y mock;
          # python3-urllib3-1.25.7 not work with old six from base, so need to update six
          # cbs command fails with Failed to parse: https://cbs.centos.org/kojihub/
          sudo $YUM update -y python3-six;
          sudo $YUM install -y epel-release wget yum-utils;
          sudo yum-config-manager --enable epel;
          sudo $YUM install -y https://download.copr.fedorainfracloud.org/results/ykarel/ykarel-centos-stream/centos-stream-x86_64/01239149-python-centos/python-centos-0.1.1-2.el8.noarch.rpm;  # noqa 204
          sudo $YUM install -y https://download.copr.fedorainfracloud.org/results/ykarel/ykarel-centos-stream/centos-stream-x86_64/01239164-centos-packager/centos-packager-0.5.5-2.el8.noarch.rpm;  # noqa 204
          sudo $YUM install -y createrepo git yum
          sudo yum-config-manager --disable epel;
          virtualenv  --system-site-packages .venv
          . .venv/bin/activate
          pip install ruamel.yaml rdopkg
          pushd {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/gating_scripts'].src_dir }}/buildsys-tags
          # define logs variable with the URL wher logs will be pushed
          export logs="https://logserver.rdoproject.org/{{ zuul_log_path }}/buildset"
          export WORKSPACE="{{ ansible_user_dir }}/workspace"
          mkdir -p $WORKSPACE
          RDOINFO_DIR="{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdoinfo'].src_dir }}"
          bash ./create_temporary_repos.sh $RDOINFO_DIR $WORKSPACE/logs
          ln -s $WORKSPACE/logs $WORKSPACE/buildset
          bash ./validate_updates.sh $WORKSPACE/logs
          popd
      changed_when: true
