---
- name: Fail if 'registry_secrets' is not defined
  fail:
    msg: >-
      Failed to login into container registries, 'registry_secrets' was not defined
  when: registry_secrets is not defined

- name: Enable container-tools and disable rhel-modules on CentOS 8
  become: true
  shell:
    cmd: |
      set -e -x
      dnf module disable container-tools:rhel8 -y;
      dnf module enable container-tools:3.0 -y;
  changed_when: true
  when:
    - ansible_distribution_major_version is version(8, '==')

- name: Build a dict with regitry and login information
  include_tasks: build_registry_login.yaml
  with_items: "{{ registry_secrets | dict2items }}"

- name: Registry login
  no_log: true
  vars:
    edpm_container_registry_logins: "{{ container_registry_logins }}"
    edpm_podman_buildah_login: "{{ push_containers|default(false)|bool }}"
  block:
    - name: Load vars and install podman
      no_log: false
      block:
        - name: Install podman
          include_role:
            name: osp.edpm.edpm_podman
            tasks_from: install.yml
      when:
        - ansible_distribution_major_version is version(8, '>=')

    - name: Perform podman login
      include_role:
        name: osp.edpm.edpm_podman
        tasks_from: login.yml

    - name: Perform podman buildah login
      include_role:
        name: osp.edpm.edpm_podman
        tasks_from: buildah_login.yml
      when:
        - edpm_podman_buildah_login | bool

  always:
    - name: Assert which issue happened in login step
      no_log: true
      loop: "{{ registry_login_podman.results }}"
      when:
        - registry_login_podman is defined
        - item.rc != 0
      assert:
        that:
          - '"invalid username/password" in item.stderr'
        success_msg: Role got to the authentication phase and correctly failed
        fail_msg: Role failed authentication with {{ item.stderr }}
