---
- hosts: primary
  tasks:
    - name: Install virtualenv
      ansible.builtin.pip:
        name: virtualenv

    - name: Install and setup repos for the openstack release
      ansible.builtin.include_role:
        name: repo_setup
      vars:
        cifmw_repo_setup_basedir: "{{ cifmw_basedir | default(ansible_user_dir ~ '/ci-framework') }}"
        cifmw_repo_setup_promotion: "{{ promote_source }}"
        cifmw_repo_setup_branch: "{{ openstack_release }}"
        cifwm_repo_setup_dlrn_uri: "{{ trunk_url }}"
        cifmw_repo_setup_os_release: "{{ ansible_distribution|lower }}"
        cifmw_repo_setup_dist_major_version: "{{ ansible_distribution_major_version }}"
        cifmw_repo_setup_src: "{{ ansible_user_dir }}/src/github.com/ci-framework/repo-setup"

    - name: Find MD5 hash value from file
      ansible.builtin.shell: |
        cat "{{ ansible_user_dir }}/ci-framework/artifacts/repositories/delorean.repo.md5"
      register: md5_value

    # - name: Disable tripleo repo if it exists
    #   ansible.builtin.replace:
    #     path: "{{ repo_dir }}/delorean.repo"
    #     after: 'delorean-component-tripleo'
    #     before: 'delorean-component-ui'
    #     regexp: 'enabled=1'
    #     replace: 'enabled=0'

    - name: Build Containers
      ansible.builtin.include_role:
        name: build_containers
      vars:
        version: "{{ ansible_distribution_major_version }}"
        release: "{{ openstack_release }}"
        image_tag: "{{ md5_value.stdout }}"
