---
- hosts: primary
  tasks:
    - name: Install virtualenv
      ansible.builtin.pip:
        name: virtualenv

    - name: Install and setup repos for the openstack release
      ansible.builtin.include_role:
        name: repo_setup
      vars:
        cifmw_repo_setup_basedir: "{{ cifmw_basedir | default(ansible_user_dir ~ '/ci-framework') }}"
        cifmw_repo_setup_promotion: "{{ promote_source }}"
        cifmw_repo_setup_branch: "{{ openstack_release }}"
        cifwm_repo_setup_dlrn_uri: "{{ trunk_url }}"
        cifmw_repo_setup_os_release: "{{ ansible_distribution|lower }}"
        cifmw_repo_setup_dist_major_version: "{{ ansible_distribution_major_version }}"
        cifmw_repo_setup_src: "{{ ansible_user_dir }}/src/github.com/openstack-k8s-operators/repo-setup"

    - name: Find MD5 hash value from file
      ansible.builtin.slurp:
        src: "{{ ansible_user_dir }}/ci-framework/artifacts/repositories/delorean.repo.md5"
      register: md5_value

    - name: check for /etc/ci/mirror_info.sh
      ansible.builtin.stat:
        path: "/etc/ci/mirror_info.sh"
      register: mirror_path

    - name: Use proxy mirrors
      when:
        - mirror_path.stat.exists
      ansible.builtin.shell: |
        source /etc/ci/mirror_info.sh
        echo "export NODEPOOL_CENTOS_MIRROR=${NODEPOOL_CENTOS_MIRROR}" >> repo_setup_env
        echo "export NODEPOOL_RDO_PROXY=${NODEPOOL_RDO_PROXY}" >> repo_setup_env
        sed -i -e "s|https://trunk.rdoproject.org|$NODEPOOL_RDO_PROXY|g" *.repo
        sed -i -e "s|http://mirror.stream.centos.org|$NODEPOOL_CENTOS_MIRROR|g" *.repo
      args:
        chdir: "{{ ansible_user_dir }}/ci-framework/artifacts/repositories"

      # FIXME(Chandan): https://bugs.launchpad.net/tripleo/+bug/2015309
    - name: Downgrade gnupg2 to 2.3.3-2.el9.x86_64
      become: true
      ansible.builtin.shell: |
        sudo dnf -y downgrade gnupg2-2.3.3-2.el9.x86_64

    # - name: Disable tripleo repo if it exists
    #   ansible.builtin.replace:
    #     path: "{{ repo_dir }}/delorean.repo"
    #     after: 'delorean-component-tripleo'
    #     before: 'delorean-component-ui'
    #     regexp: 'enabled=1'
    #     replace: 'enabled=0'

    - name: Build Containers
      ansible.builtin.include_role:
        name: build_containers
      vars:
        version: "{{ ansible_distribution_major_version }}"
        release: "{{ openstack_release }}"
        image_tag: "{{ md5_value['content'] | b64decode | trim }}"
