---
- hosts: primary
  tasks:
    - name: Tag containers with human readable tag
      vars:
        cifmw_basedir: "{{ ansible_user_dir }}/ci-framework-data"
      ansible.builtin.include_role:
        name: build_containers
        tasks_from: 'tag.yml'
