---
- hosts: all
  tasks:
    - name: Ensure bindep.txt dependencies are installed
      include_role:
        name: bindep
      vars:
        bindep_dir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"

    - name: Run tools/test-setup.sh if exists
      include_role:
        name: test-setup
      vars:
        zuul_work_dir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"

    - name: Add zuul user to mock group
      become: true
      shell:
        cmd: |
          usermod -a -G mock zuul

    - name: Ensure mirrors are setup properly
      shell:
        cmd: |
            source /etc/ci/mirror_info.sh
            sed -e "s|^#baseurl=http://mirror.centos.org/centos|baseurl=$NODEPOOL_CENTOS_MIRROR|;/^mirrorlist=/d" -i scripts/centos.cfg
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"

    - shell:
        cmd: |
          export TAG="{{  tag | default('') }}"
          if [ -z "$TAG" ];then
          ARGS="centos https://trunk.rdoproject.org/centos7/"
          else
          ARGS="centos https://trunk.rdoproject.org/centos7/ $TAG"
          fi
          if [[ "{{ zuul.pipeline }}" =~ "openstack-" ]]; then
              ARGS=""
          fi
          ./scripts/run_tests.sh {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdoinfo'].src_dir }} $ARGS
        chdir: "{{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/DLRN'].src_dir }}"
      environment: "{{ zuul | zuul_legacy_vars | combine({'LANG': 'en_US.UTF-8'}) }}"
