- name: Install zuul-cloner shim dependencies
  pip:
    name: PyYAML
    virtualenv: "{{ virtualenv }}"
  become: yes

- name: Install zuul-cloner shim
  template:
    src: templates/zuul-cloner-shim.py.j2
    dest: "{{ virtualenv }}/bin/zuul-cloner"
    mode: 0755
  become: yes

- name: Ensure zuul-cloner permission env perm
  file:
    path: "{{ virtualenv }}"
    state: directory
    mode: u=rwX,g=rX,o=rX
    recurse: yes
  become: yes

- name: Make repositories writable so that people can hardlink
  file:
    path: "{{ ansible_user_dir }}/src"
    state: directory
    recurse: yes
    mode: ug+rw
  # do not allow world writable because this is incompatible with loading of
  # ansible.cfg - see https://bugs.launchpad.net/tripleo/+bug/1807703
  become: yes
