---
- name: Install zuul-cloner shim dependencies
  pip:
    name: PyYAML
    virtualenv: "{{ virtualenv }}"
  become: true

- name: Install zuul-cloner shim
  template:
    src: templates/zuul-cloner-shim.py.j2
    dest: "{{ virtualenv }}/bin/zuul-cloner"
    mode: 0755
  become: true

- name: Ensure zuul-cloner permission env perm
  file:
    path: "{{ virtualenv }}"
    state: directory
    mode: u=rwX,g=rX,o=rX
    recurse: true
  become: true

- name: Make repositories writable so that people can hardlink
  file:
    path: "{{ ansible_user_dir }}/src"
    state: directory
    recurse: true
    mode: ugo+rw
  become: true
