# NOTE(bogdando): these values are suit a single-cell standalone setup.
# Multinode/multi-cell jobs provide custom values via templating it in
# playbooks/data_plane_adoption/*_tests.yaml (or directly, in a job vars)

# Path to install_yamls repo
install_yamls_path: /home/zuul/src/github.com/openstack-k8s-operators/install_yamls/

# To enable TLS-E, the standalone hostname must be set to standalone.ooo.test
edpm_node_networker_hostname: CUSTOMIZE_THIS

# Whether to remove all the persistent data (databases, dumbs, ansible logs)
# before the test
reset_crc_storage: true

# source SC for the local-storage SC to be created from it
storage_class_name: crc-csi-hostpath-provisioner  # CUSTOMIZE_THIS
storage_reclaim_policy: Delete  # or Retain

# Snippet to get the desired 'oc' command onto $PATH.
oc_header: ''

# External MariaDB IP for DB exports.
source_mariadb_ip:
  default: 172.17.0.100

source_galera_members:
  default:
    - name: standalone.localdomain
      ip: 172.17.0.100

cells:
  - default

default_cell_name: cell1

# virsh --connect=qemu:///system -q domifaddr standalone | awk 'NF>1{print $NF}' | cut -d/ -f1
# install_yamls default: 192.168.122.100
edpm_node_networker_ip: CUSTOMIZE_THIS

# Auth URL to use for adopted Keystone.
auth_url: http://keystone-public-openstack.apps-crc.testing

# Set verbose logging for CI jobs (no secrets here)
use_no_log: false

run_pre_adoption_validation: true

# --------------------------
# vars for tripleo_prepare
# --------------------------

# --- Insert edpm_bootstrap_command var into dataplane tests vars ---
{% if edpm_bootstrap_command is defined %}
edpm_bootstrap_command: {{ edpm_bootstrap_command | indent(2) }}
{% endif %}

# --- Insert edpm_container_registry_logins var into dataplane tests vars ---
{% if edpm_telemetry_node_exporter_image is defined %}
edpm_telemetry_node_exporter_image: {{ edpm_telemetry_node_exporter_image }}
{% endif %}

# --- Insert edpm_container_registry_logins var into dataplane tests vars ---
# Using manual indentation for the sake of consistency
{% if edpm_container_registry_logins is defined and edpm_container_registry_logins is mapping %}
edpm_container_registry_logins:
{% for login, value in edpm_container_registry_logins.items() -%}
{{ login | indent(2) }}:
{{ value | indent(4) | trim }}
{% endfor -%}
{% endif %}

# --- Insert ping test related variables ---
ping_test: true
prelaunch_test_instance: true
ping_test_loss_threshold: {{ ping_test_loss_threshold | default(0) }}
ping_test_loss_threshold_percent: {{ ping_test_loss_threshold_percent | default(0) }}

# --- Insert vars needed for periodic job into test vars.yaml ---
periodic: true
container_registry: "{{ dpa_container_registry | default('quay.rdoproject.org') }}"
container_namespace: "{{ dpa_container_namespace | default('podified-antelope-centos9') }}"
container_tag: {{ dlrn_hash_tag | default(latest_dlrn_tag.content) }}

# --- Set timesync_ntp_servers if dpa_standalone_ntp_server set ---
{% if pa_standalone_ntp_server is defined %}
timesync_ntp_servers:
  - hostname: {{ dpa_standalone_ntp_server }}
{% endif %}

# --- Insert vars needed to override edpm images into test vars.yaml ---
{% if dpa_container_registry is defined and dpa_container_namespace is defined %}
registry_name: "{{ dpa_container_registry }}"
registry_namespace: "{{ dpa_container_namespace }}"
image_tag: "{{ dpa_container_tag | default('current-podified') }}"
{% endif %}

# --- Insert edpm_container_registry_insecure_registries into dataplane test vars ---
{% if edpm_container_registry_insecure_registries is defined %}
edpm_container_registry_insecure_registries:
{{ edpm_container_registry_insecure_registries | to_nice_yaml | indent(2) }}
{% endif %}

# --- Store upstream dns server in vars.yaml if defined ---
{% if upstream_control_plane_dns is defined or upstream_dns is defined %}
upstream_dns: {{ upstream_control_plane_dns| default(upstream_dns) }}
{% endif %}

# --- Set var to skip ansibleee csv patching
{% if dpa_skip_patch_csv %}
skip_patching_ansibleee_csv: {{ dpa_skip_patch_csv | default(false) | string | lower }}
{% endif %}

# --- Insert ansibleee_runner_img var into vars.yaml ---
ansibleee_runner_img: {{ ansibleee_runner_img }}

# --- Insert adoption extra vars when defined ---
{{ adoption_extra_vars }}

# --- Insert edpm_bootstrap_command var into dataplane tests vars
{% if edpm_bootstrap_command is defined %}
edpm_bootstrap_command:
{{ edpm_bootstrap_command | indent(2) }}
{% endif %}


# --------------
# vars for deploy_tripleo_run_repo_tests.yaml
# --------------


# Place control0 IP into vars.yaml for ovndb
source_ovndb_ip: {{ source_ovndb_ip }}

# --- Set TLS Everywhere in vars.yaml ---
# This flag signifies if TLS Everywhere is enabled on the source cloud
enable_tlse: {{ enable_tls | default('false') }}

# --- Set neutron_qe_test in vars.yaml ---
neutron_qe_test: {{ neutron_qe_test | default('false') }}

# --- Set tobiko_qe_test in vars.yaml ---
tobiko_qe_test: {{ tobiko_qe_test | default('false') }}

# --- Set tobiko_version in vars.yaml ---
tobiko_version: {{ tobiko_version | default('master') }}"

# --- Set tobiko_test_workflow in vars.yaml ---
tobiko_test_workflow: {{ tobiko_test_workflow | default('create-resources') }}

# --- Set tobiko_pytest_addopts in vars.yaml ---
tobiko_pytest_addopts: {{ tobiko_pytest_addopts | default('') }}

# --- Set neutron_qe_dir in vars.yaml ---
neutron_qe_dir: {{ neutron_qe_dir | default('false') }}

# --- Set prelaunch_barbican_secret in vars.yaml ---
# This flag signifies if the tests should create a barbican secret before
# adoption to check it after the adoption
prelaunch_barbican_secret: {{ enable_barbican | default('false') }}

# --- Configure whether to run octavia adoption ---
octavia_adoption: {{ enable_octavia | default('true') }}

# --- Set tobiko_conf_file in vars.yaml ---
tobiko_conf_file: |
{{ tobiko_conf_file | default('') | indent(2,True) }}


# --- Insert vars for data plane operator and os-net-config with zuul native undercloud node ---
dataplane_os_net_config_iface: nic2
dataplane_public_iface: eth1
upstream_dns: "{{ standalone_gateway }}"
dataplane_os_net_config_set_route: false
os_cloud_name: overcloud
edpm_user: zuul
standalone_ip: "{{ standalone_ip | default('192.168.122.100') }}"
neutron_physical_bridge_name: br-ex


# --- Insert adoption extra vars when defined ---
{% if adoption_extra_vars is defined %}
{{ adoption_extra_vars }}
{% endif %}


# --- Set edpm_node_ip, _hostname, edpm_nodes, edpm_nodes_networker in vars.yaml with compute hostnames ---
# To enable TLS-E, the standalone hostname must be set to standalone.ooo.test
edpm_node_hostname:  {{ compute0_hostname }}
edpm_node_ip: {{ edpm_node_ips[0] | default('192.168.122.100') }}
{%+ if edpm_node_networker_ips is defined or edpm_node_controller_as_net_ips is defined +%}
edpm_networkers: |
{%+ if edpm_node_networker_ips is defined +%}
{% for i in range(edpm_node_networker_ips | length) %}
  ["{{ lookup('vars', 'networker' ~ i ~ '_hostname') }}"]="{{ edpm_node_networker_ips[i | int] }}"
{% endfor %}
{%+ endif +%}
{%+ if edpm_node_controller_as_net_ips is defined +%}
{% for i in range(edpm_node_controller_as_net_ips | length) %}
  ["{{ lookup('vars', 'controller' ~ i ~ '_hostname') }}"]="{{ edpm_node_controller_as_net_ips[i | int] }}"
{% endfor %}
{%+ endif +%}
{%+ endif +%}

{%+ if multi_cell|default(false) +%}
{%+ if source_galera_members is not defined +%}
source_galera_members:
  default:
{% for i in range(source_mariadb_ips | length) %}
    - name: {{lookup('vars', 'controller' ~ i ~ '_hostname')}}
      ip: {{ source_mariadb_ips[i | int] }}
{% endfor %}
{%+ endif +%}
{%+ if source_mariadb_ip is not defined +%}
source_mariadb_ip:
  default: {{ source_mariadb_ips[0] }}
{%+ endif +%}
{% else %}
source_galera_members: |
{% for i in range(source_mariadb_ips | length) %}
  ["{{lookup('vars', 'controller' ~ i ~ '_hostname')}}"]="{{ source_mariadb_ips[i | int] }}"
{% endfor %}
source_mariadb_ip: {{ source_mariadb_ips[0] }}
{%+ endif +%}

edpm_nodes:
{%+ if edpm_node_names_map is not defined or not multi_cell|default(false) +%}
{% for i in range(edpm_node_ips | length) %}
  {{ compute_hostnames.results[i | int]['content'] | b64decode | trim }}:
    hostName: "{{ lookup('vars', 'compute' ~ i ~ '_hostname') }}"
    ansible:
      ansibleHost: {{ edpm_node_ips[i | int] }}
    networks:
      - defaultRoute: true
        fixedIP: {{ edpm_node_ips[i | int] }}
        name: ctlplane
        subnetName: subnet1
      - name: internalapi
        fixedIP: 172.17.0.{{ edpm_node_ips[i | int].split('.')[-1] }}
        subnetName: subnet1
      - name: storage
        fixedIP: 172.18.0.{{ edpm_node_ips[i | int].split('.')[-1] }}
        subnetName: subnet1
      - name: tenant
        fixedIP: 172.19.0.{{ edpm_node_ips[i | int].split('.')[-1] }}
        subnetName: subnet1
      - name: storagemgmt
        fixedIP: 172.20.0.{{ edpm_node_ips[i | int].split('.')[-1] }}
        subnetName: subnet1
{% endfor %}
{%+ else +%}
{% for cell in renamed_cells %}
{%+ if edpm_node_ips[cell] | default([]) | length > 0 +%}
  {{ cell }}:
{%+ endif +%}
{% for i in range(edpm_node_ips[cell] | default([]) | length) %}
    {{ lookup('vars', edpm_node_names_map[cell][i | int].split('.')[0]) }}:
      hostName: "{{ lookup('vars', edpm_node_names_map[cell][i | int]) }}"
      ansible:
        ansibleHost: {{ edpm_node_ips[cell][i | int] }}
      networks:
        - defaultRoute: true
          fixedIP: {{ edpm_node_ips[cell][i | int] }}
          name: ctlplane
          subnetName: subnet1
        - name: internalapi
          fixedIP: 172.17.0.{{ edpm_node_ips[cell][i | int].split('.')[-1] }}
          subnetName: subnet1
        - name: storage
          fixedIP: 172.18.0.{{ edpm_node_ips[cell][i | int].split('.')[-1] }}
          subnetName: subnet1
        - name: tenant
          fixedIP: 172.19.0.{{ edpm_node_ips[cell][i | int].split('.')[-1] }}
          subnetName: subnet1
        - name: storagemgmt
          fixedIP: 172.20.0.{{ edpm_node_ips[cell][i | int].split('.')[-1] }}
          subnetName: subnet1
{% endfor %}
{% endfor %}
{%+ endif +%}

{%+ if edpm_node_networker_ips is defined or edpm_node_controller_as_net_ips is defined +%}
edpm_nodes_networker:
{%+ if edpm_node_networker_ips is defined +%}
{% for i in range(edpm_node_networker_ips | length) %}
  {{ networker_hostnames.results[i | int]['content'] | b64decode | trim }}:
    hostName: "{{ lookup('vars', 'networker' ~ i ~ '_hostname') }}"
    ansible:
      ansibleHost: {{ edpm_node_networker_ips[i | int] }}
    networks:
      - defaultRoute: true
        fixedIP: {{ edpm_node_networker_ips[i | int] }}
        name: ctlplane
        subnetName: subnet1
      - name: internalapi
        fixedIP: 172.17.0.{{ edpm_node_networker_ips[i | int].split('.')[-1] }}
        subnetName: subnet1
      - name: storage
        fixedIP: 172.18.0.{{ edpm_node_networker_ips[i | int].split('.')[-1] }}
        subnetName: subnet1
      - name: tenant
        fixedIP: 172.19.0.{{ edpm_node_networker_ips[i | int].split('.')[-1] }}
        subnetName: subnet1
      - name: storagemgmt
        fixedIP: 172.20.0.{{ edpm_node_networker_ips[i | int].split('.')[-1] }}
        subnetName: subnet1
{% endfor %}
{%+ endif +%}
{%+ if edpm_node_controller_as_net_ips is defined +%}
{% for i in range(edpm_node_controller_as_net_ips | length) %}
  {{ controller_hostnames.results[i | int]['content'] | b64decode | trim }}:
    hostName: "{{ lookup('vars', 'controller' ~ i ~ '_hostname') }}"
    ansible:
      ansibleHost: {{ edpm_node_controller_as_net_ips[i | int] }}
    networks:
      - defaultRoute: true
        fixedIP: {{ edpm_node_controller_as_net_ips[i | int] }}
        name: ctlplane
        subnetName: subnet1
      - name: internalapi
        fixedIP: 172.17.0.{{ edpm_node_controller_as_net_ips[i | int].split('.')[-1] }}
        subnetName: subnet1
      - name: storage
        fixedIP: 172.18.0.{{ edpm_node_controller_as_net_ips[i | int].split('.')[-1] }}
        subnetName: subnet1
      - name: tenant
        fixedIP: 172.19.0.{{ edpm_node_controller_as_net_ips[i | int].split('.')[-1] }}
        subnetName: subnet1
      - name: storagemgmt
        fixedIP: 172.20.0.{{ edpm_node_controller_as_net_ips[i | int].split('.')[-1] }}
        subnetName: subnet1
{% endfor %}
{%+ endif +%}
{%+ endif +%}
