---
- hosts: primary
  tasks:
    - name: Execute mirror info role
      import_role:
        name: mirror-info-fork
      vars:
        mirror_fqdn: "mirror.{{ nodepool.region | lower }}.{{ nodepool.cloud | lower }}.rdoproject.org"
      when:
        - ansible_distribution != "Fedora" or (ansible_distribution == "Fedora" and ansible_distribution_major_version|int > 28)

    - name: Run pre-quickstart role
      import_role:
        name: common

    - name: check for correct import
      debug:
        var: tripleo_root

    - name: set workspace
      set_fact:
        workspace: "{{ ansible_user_dir }}/workspace"

    - name: ensure workspace presence
      file:
        path: "{{ workspace }}"
        state: directory

    - name: Detect gating repo url
      shell:
        cmd: |
          # This builder, when run from a child job of validate-buildsys-tags
          # configures the temporary repositories created by it
          # This allows to install the packages in that repository and test
          # them.
          set +e -x
          # This job requires variable 'release' to be defined.

          if [ -z "{{ release|default("") }}" ]; then
              echo "ERROR in job definition"
              exit 1
          fi

          logs={{ buildset_artifacts_url|default("") }}

          # If we could not find a working repository, give up
          curl -o /dev/null -sIf "${logs}" || exit 1

          # Use the latest repository hash
          # If DLRN built multiple packages, there will be multiple repositories.
          # We want the latest repository which contains all of the packages that were just built.
          repository="${logs}/centos/current"

          # The rdoinfo-DLRN-check job may create different repos (centos-rpm-master, centos-pike-rdo)
          # when it builds packages for more than one release. In that case, let us try to find the
          # right one
          curl -o /dev/null -sIf "${repository}"
          if [ $? -ne 0 ]; then
            releases="rpm-master train-rdo stein-rdo rocky-rdo queens-rdo"
            for release in $releases; do
                repository="${logs}/centos-${release}/current"
                curl -o /dev/null -sIf "${repository}" || continue
                break
            done
          fi

          # If we could not find a working repository, give up
          curl -o /dev/null -sIf "${repository}" || exit 1
          echo ${repository}

        chdir: '{{ ansible_user_dir }}/workspace'
      environment: '{{ zuul | zuul_legacy_vars }}'
      register: repourl
      changed_when: true

    - name: Run quickstart
      include_role:
        name: run-test
      vars:
        release: "{{ release }}"
        run_test_role_vars:
          standalone_container_ceph_updates: true
          update_containers: true
          artg_skipped_projects:
            - rdoinfo
          container_prep_additional_repos: temp-*
          add_repos:
            - type: generic
              reponame: temp-distgit
              filename: temp-distgit.repo
              baseurl: "{{ repourl.stdout_lines[-1] }}"
              priority: 1
