- hosts: all
  tasks:
    - name: run pkg-export.sh
      shell:
        cmd: |
          WORKSPACE={{ ansible_user_dir }} TARGET={{ distro[0] }} ./pkg-export.sh opstools{{ distro }}-{{ buildroot | default('collectd-5') }}-el{{ distro }} cbs
        chdir: "{{ zuul.projects['review.rdoproject.org/gating_scripts'].src_dir }}"
      environment: '{{ zuul | zuul_legacy_vars }}'
      changed_when: true
